{block title}Požadovaná stránka nebyla nalezena{/block}
{block body-class}landingpage{/block}

{block content}
<div class="destination">
    <h1>{$message}</h1>
    <div class="btn"><a n:href="Homepage:default">Zpět na hlavní stránku</a></div>
</div>
