<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" charset="utf-8" href="{$basePath}/css/homepage.min.css?v={$version}">

	<link rel="stylesheet" href="https://gpcz.eu/cdn/owl.carousel.min.css">
	<link rel="stylesheet" href="https://gpcz.eu/cdn/owl.theme.default.min.css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Darovací brána | Jakub Srnka - Maturitní projekt</title>
</head>

{capture $bodyClass}{ifset body-class}{include body-class|stripHtml}{/ifset}{/capture}
<body{ifset $bodyClass} class="body-{$bodyClass}"{/ifset}>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>


	{include header.latte}
	<main>
		{include content}
	</main>
	{include footer.latte, bodyClass => $bodyClass}


	{block scripts}
	<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/lib/nette.ajax.js?v={$version}"></script>
	<script src="/assets/main.js?v={$version}"></script>
	{ifset $scripts}<script n:foreach="$scripts as $script" src="{$script}?v={$version}"></script>{/ifset}
	{/block}
</body>
</html>
