{block body-class}default{/block}
{block content}

<div class="default">
	<h1>Demo maturitního projektu</h1>
	<h3>Jakub Srnka, 2021</h3>
	<h3>Gymnázium, Nad Alejí 1953, Praha 6</h3>
	<p>Demo naleznete na <a n:href="Homepage:gateway">/darujte</a></p>
	<p>Informace o projektu a dokumentaci naleznete na <a href="/assets/docs.pdf" target="_blank">zde</a></p>
</div>