{var $scripts = ['/assets/scripts/gateway.js']}
{block popup-tiny}
<div class="popup popup-tiniest popup-gateway">
	<div class="popup-inner" data-step="1">
		<div class="popup-image" style="background-image: url('/assets/icons/gateway/coins_very_dark_blue.svg')"></div>
		<h1 class="popup-header">Víte, že největší dopad mají pravidelné dary?</h1>
		<p class="popup-lead">Vážíme si Vašeho rozhodnutí. Obrana a&nbsp;kultivování demokracie je běh na dlouhou trať. Zvažte prosím možnost pravidelného darování a&nbsp;zapojte se dlouhodobě.</p>
		<label for="frequency1"><div class="btn btn-pink btn-next">Chci darovat pravidelně</div></label>
		<label class="popup-link-small btn-next" for="frequency0">Teď ne, raději přispěju jednorázově.</label>
	</div>
	<div class="popup-inner popup-gateway-inner-transfer" data-step="6" data-substep="monthly" onbeforeunload="return null">
		<div class="popup-image" style="background-image: url('/assets/icons/gateway/coins_very_dark_blue.svg')"></div>
		<h1 class="popup-header">Nastavte si prosím trvalý příkaz</h1>
		<p class="popup-lead">Přihlaste se do Vašeho internetového bankovnictví a&nbsp;zadejte Váš trvalý příkaz.</p>
		<div class="popup-inner-main">
			<h3>Vaše dárcovské údaje:</h3>
			<div class="popup-inner-main-info">
				<h4>Číslo účtu:</h4>
				<div><h4><span>{$info['bankAccountNumber']}/{$info['bankAccountCode']}</span></h4><img src="/assets/icons/copy_icon.svg"></div>
				<h4>Variabilní symbol:</h4>
				<div><h4 class="variable-symbol"><span></span></h4><img src="/assets/icons/copy_icon.svg"></div>
				<h4>Částka:</h4>
				<div><h4 class="popup-amount"><span></span>&nbsp;Kč</h4><img src="/assets/icons/copy_icon.svg"></div>
			</div>
		</div>
		<p class="popup-lead">Údaje jsme Vám právě odeslali i&nbsp;e-mailem. Až budete mít trvalý příkaz nastaven, prosím potvrďte stisknutím tlačítka níže.</p>
		<div class="btn btn-light-darker-bluish-gray-transparent">Mám hotovo!</div>
		<div class="btn btn-very-dark-blue" style="display: none;"><a href="/darujte/payment-info/done">Potvrzuji</a></div>
	</div>
	<div class="popup-inner popup-gateway-inner-transfer popup-gateway-inner-transfer-once" data-step="6" data-substep="once" onbeforeunload="return null">
		<div class="popup-image desktop-only" style="background-image: url('/assets/icons/gateway/coins_very_dark_blue.svg')"></div>
		<h1 class="popup-header">Nastavte si prosím příkaz k úhradě</h1>
		<p class="popup-lead">Přihlaste se do Vašeho internetového bankovnictví a&nbsp;zadejte Váš příkaz k úhradě.</p>
		<div class="popup-inner-main-container">
			<div class="popup-inner-main">
				<h3>Vaše dárcovské údaje:</h3>
				<div class="popup-inner-main-info">
					<h4>Číslo účtu:</h4>
					<div><h4><span>{$info['bankAccountNumber']}/{$info['bankAccountCode']}</span></h4><img src="/assets/icons/copy_icon.svg"></div>
					<h4>Variabilní symbol:</h4>
					<div><h4 class="variable-symbol"><span></span></h4><img src="/assets/icons/copy_icon.svg"></div>
					<h4>Částka:</h4>
					<div><h4 class="popup-amount"><span></span>&nbsp;Kč</h4><img src="/assets/icons/copy_icon.svg"></div>
				</div>
			</div>
			<div class="popup-inner-main">
				<h4>Pro urychlení můžete naskenovat QR kód (níže) ve Vašem mobilním bankovnictví.</h4>
				<img src="" alt="qrCode" id="popupOnceQRCode">
			</div>
		</div>
		<p class="popup-lead">Údaje jsme Vám právě odeslali i&nbsp;e-mailem. Až budete mít příkaz k&nbsp;úhradě nastaven, prosím potvrďte stisknutím tlačítka níže.</p>
		<div class="btn btn-light-darker-bluish-gray-transparent">Mám hotovo!</div>
		<div class="btn btn-very-dark-blue" style="display: none;"><a href="/darujte/payment-info/done">Potvrzuji</a></div>
	</div>
	<div class="popup-inner" data-step="error" onbeforeunload="return null">
		<div class="popup-image" style="background-image: url('/assets/icons/gateway/coins_very_dark_blue.svg')"></div>
		<h1 class="popup-header">Omlouváme se.<br>Někde nastala chyba.</h1>
		<p class="popup-lead">Zkuste prosím vyplnit formulář znovu.</p>
		<div class="btn btn-very-dark-blue"><a n:href="this">Obnovit stránku</a></div>
		<a class="popup-link-small" n:href="Homepage:default">Přejít na hlavní stránku</a>
	</div>
</div>
{/block}

{block body-class}landingpage{/block}
{block content}
{include popup-tiny}

<form>
	<div class="gateway">
		<div class="gateway-selector">
			<div class="gateway-selector-third gateway-selector-third-active" data-step="1">
				<div class="gateway-selector-text"><span>Způsob podpory</span></div>
				<div class="gateway-selector-line"></div>
			</div>
			<div class="gateway-selector-third" data-step="4">
				<div class="gateway-selector-text"><span>Osobní údaje</span></div>
				<div class="gateway-selector-line"></div>
			</div>
			<div class="gateway-selector-third" data-step="6">
				<div class="gateway-selector-text"><span>Shrnutí</span></div>
				<div class="gateway-selector-line"></div>
			</div>
		</div>


		<div class="gateway-main-enclosure">


			<div class="gateway-main" id="gatewayMain1" data-step="1">
				<div class="gateway-main-text">
					<h2>Vyberte způsob darování</h2>
					<p>Děkujeme, že nás podporujete. Vyberte si, prosím, zda chcete darovat jednorázově, či pravidelně.</p>
				</div>
				<div class="gateway-main-chooser">
					<input type="radio" name="frequency" value="0" id="frequency0">
					<label for="frequency0" id="gatewayMainFrequencyOnce"><div class="gateway-main-chooser-box">
						<div class="gateway-main-chooser-box-image" style="background-image: url('/assets/icons/gateway/coins_bluish_gray.svg')"></div>
						<h3>Pošlu jednorázový dar</h3>
						<p>Zapojím se svým darem.</p>
						<div class="btn btn-bluish-gray btn-next btn-not-yet">Chci darovat jednorázově</div>
					</div></label>
					<input type="radio" name="frequency" value="1" id="frequency1">
					<label class="label-active" for="frequency1" id="gatewayMainFrequencyMonthly"><div class="gateway-main-chooser-box gateway-main-chooser-box-active">
						<div class="label-recommended-container"></div>
						<div class="gateway-main-chooser-box-image" style="background-image: url('/assets/icons/gateway/coins_pink.svg')"></div>
						<h3>Začnu darovat pravidelně</h3>
						<p>Začnu posílat příspěvky trvalým příkazem.</p>
						<div class="btn btn-bluish-gray btn-next">Chci darovat pravidelně</div>
					</div></label>
				</div>
			</div>


			<div class="gateway-main" id="gatewayMain8" data-step="2" data-substep="0">
				<div class="gateway-main-text">
					<h2>Zvolte částku, která Vám bude dělat radost</h2>
					<p>Vyberte částku pro Vaši jednorázovou platbu.</p>
				</div>
				<div class="gateway-main-amount">
					<div class="gateway-main-amount-chooser">
						<input type="radio" name="amountOnce" value="2000" id="amountOnce1" checked>
						<label for="amountOnce1"><div class="btn btn-bluish-gray-transparent"><a>2000&nbsp;Kč</a></div></label>
						<input type="radio" name="amountOnce" value="1500" id="amountOnce2">
						<label for="amountOnce2"><div class="btn btn-bluish-gray-transparent"><a>1500&nbsp;Kč</a></div></label>
						<input type="radio" name="amountOnce" value="1000" id="amountOnce3">
						<label for="amountOnce3"><div class="btn btn-bluish-gray-transparent"><a>1000&nbsp;Kč</a></div></label>
						<input type="radio" name="amountOnce" value="500" id="amountOnce4">
						<label for="amountOnce4"><div class="btn btn-bluish-gray-transparent"><a>500&nbsp;Kč</a></div></label>
					</div>
					<div class="gateway-main-amount-own">
						<input type="radio" name="amountOnce" id="amountOnce0" value="0">
						<label for="amountOnce0"><span>Nebo zadejte vlastní částku</span></label>
						<input type="number" name="amountOnceOwn" id="amountOnceOwn">
					</div>
				</div>
				<div class="gateway-main-amount-error"><span class="required text-pink">Vyberte prosím částku ze seznamu nebo zadejte vlastní.</span></div>
				<div class="gateway-main-ledge gateway-main-ledge-double">
					<div class="btn btn-bluish-gray-transparent btn-back">&lt;&nbsp;Zpět</div>
					<div class="btn btn-pink btn-next">Vyplnit osobní údaje</div>
				</div>
			</div>


			<div class="gateway-main" id="gatewayMain2" data-step="2" data-substep="1">
				<div class="gateway-main-text">
					<h2>Zvolte částku, která Vám bude dělat radost</h2>
					<p>Vyberte částku pro Váš trvalý příkaz.</p>
				</div>
				<div class="gateway-main-amount">
					<div class="gateway-main-amount-chooser">
						<input type="radio" name="amountMonthly" value="1000" id="amountMonthly1" checked>
						<label for="amountMonthly1"><div class="btn btn-bluish-gray-transparent"><a>1000&nbsp;Kč</a></div></label>
						<input type="radio" name="amountMonthly" value="750" id="amountMonthly2">
						<label for="amountMonthly2"><div class="btn btn-bluish-gray-transparent"><a>750&nbsp;Kč</a></div></label>
						<input type="radio" name="amountMonthly" value="500" id="amountMonthly3">
						<label for="amountMonthly3"><div class="btn btn-bluish-gray-transparent"><a>500&nbsp;Kč</a></div></label>
						<input type="radio" name="amountMonthly" value="250" id="amountMonthly4">
						<label for="amountMonthly4"><div class="btn btn-bluish-gray-transparent"><a>250&nbsp;Kč</a></div></label>
					</div>
					<div class="gateway-main-amount-own">
						<input type="radio" name="amountMonthly" id="amountMonthly0" value="0">
						<label for="amountMonthly0"><span>Nebo zadejte vlastní částku</span></label>
						<input type="number" name="amountMonthlyOwn" id="amountMonthlyOwn">
					</div>
				</div>
				<div class="gateway-main-amount-error"><span class="required text-pink">Vyberte prosím částku ze seznamu nebo zadejte vlastní.</span></div>
				<div class="gateway-main-ledge gateway-main-ledge-double">
					<div class="btn btn-bluish-gray-transparent btn-back">&lt;&nbsp;Zpět</div>
					<div class="btn btn-pink btn-next">Vybrat způsob platby</div>
				</div>
			</div>


			<div class="gateway-main" id="gatewayMain5" data-step="4">
				<div class="gateway-main-text">
					<h2>Vaše osobní údaje</h2>
				</div>
				<div class="gateway-main-personal gateway-form">
					<div>
						<label id="personalFnameLabel">Jméno<hr><span class="required"><span class="notice">Toto pole je nutné vyplnit</span></span></label>
						<input type="text" name="fname" id="personalFname">
					</div>
					<div>
						<label id="personalLnameLabel">Příjmení<hr><span class="required"><span class="notice">Toto pole je nutné vyplnit</span></span></label>
						<input type="text" name="lname" id="personalLname">
					</div>
					<div>
						<label id="personalPhoneLabel">Telefon<hr><span class="required"><span class="notice">Zadejte prosím platné telefonní číslo</span></span></label>
						<input type="text" name="phone" id="personalPhone">
					</div>
					<div>
						<label id="personalEmailLabel">E-mail<hr><span class="required"><span class="notice">Zadejte prosím platnou e-mailovou adresu</span></span></label>
						<input type="email" name="email" id="personalEmail" autocomplete="off">
					</div>
				</div>
				<div class="gateway-main-ledge gateway-main-ledge-double">
					<div class="btn btn-bluish-gray-transparent btn-back">&lt;&nbsp;Zpět</div>
					<div class="btn btn-pink btn-next">Vyplnit adresu</div>
				</div>
			</div>


			<div class="gateway-main" id="gatewayMain6" data-step="5">
				<div class="gateway-main-text">
					<h2>Vaše adresa</h2>
				</div>
				<div class="gateway-main-address gateway-form">
					<div style="grid-column: span 2">
						<label id="addressStreetLabel">Ulice<hr><span class="required"><span class="notice">Toto pole je nutné vyplnit</span></span></label>
						<input type="text" name="street" id="addressStreet">
					</div>
					<div>
						<label id="addressHouseNumberLabel">Číslo popisné<hr><span class="required"><span class="notice">Zadejte Č.P. ve správném tvaru</span></span></label>
						<input type="text" name="houseNumber" id="addressHouseNumber">
					</div>
					<div style="grid-column: span 2">
						<label id="addressObecLabel">Obec<hr><span class="required"><span class="notice">Vyberte prosím obec pomocí našeptávače</span></span></label>
						<input type="text" name="obec" id="addressObec" autocomplete="off">
						<input type="text" name="obec_id" hidden id="addressObecId">
					</div>
					<div>
						<label id="addressPostcodeLabel">PSČ<hr><span class="required"><span class="notice">Zadejte PSČ ve správném tvaru</span></span></label>
						<input type="text" name="postcode" id="addressPostcode">
					</div>
				</div>
				<div class="gateway-main-ledge gateway-main-ledge-double">
					<div class="btn btn-bluish-gray-transparent btn-back">&lt;&nbsp;Zpět</div>
					<div class="btn btn-pink btn-next">Přejít na shrnutí</div>
				</div>
			</div>


			<div class="gateway-main" id="gatewayMain7" data-step="6">
				<div class="gateway-main-text">
					<h2>Zkontrolujte prosím Vaše údaje</h2>
				</div>
				<div class="gateway-main-summary">
					<h2>Zadané údaje</h2>
					<hr>
					<div class="gateway-main-summary-table">
						<div id="summaryPersonal">Vaše údaje: <br><span></span><br><a data-step-edit="4">Upravit</a></div>
						<div id="summaryAmount">Částka: <span></span><br><a data-step-edit="2">Upravit</a></div>
						<div id="summaryFrequency">Typ darování: <span></span><br><a data-step-edit="1">Upravit</a></div>
						<div id="summaryAddress">Vaše adresa: <br><span></span><br><a data-step-edit="5">Upravit</a></div>
					</div>
				</div>
				<div class="gateway-main-ledge gateway-main-ledge-double">
					<div class="btn btn-bluish-gray-transparent btn-back">&lt;&nbsp;Zpět</div>
					<button type="button" class="btn btn-pink" style="display: block; width: auto;">Přejít na platbu</button>
					<div class="dot-windmill-container"><div class="dot-windmill"></div></div>
				</div>
			</div>
		</div>
	</div>
</form>