{var $scripts = ['/assets/scripts/gateway.js']}
{block body-class}landingpage{/block}
{block content}
<div class="popup-inner popup-non popup-gateway-inner" n:if="$type=='success'">
	<div class="popup-image" style="background-image: url('/assets/icons/gateway/coins_very_dark_blue.svg')"></div>
	<h1 class="popup-header">Děkujeme za podporu!</h1>
	<p class="popup-lead">Děkujeme, že si vážíte demokracie a našli jste si pro ni chvilku. Pokud se chcete zapojit ještě více, můžete navštívít například naše <a n:href="Homepage:actionCenter">akční centrum</a>.</p>
	<div class="btn btn-pink"><a n:href="Homepage:default">Přejít na hlavní stránku</a></div>
</div>
<div class="popup-inner popup-non popup-gateway-inner popup-gateway-inner-transfer" n:if="$type=='bank-transfer' && $gatewayInfo['frequency']=='monthly'">
	<div class="popup-image" style="background-image: url('/assets/icons/gateway/coins_very_dark_blue.svg')"></div>
	<h1 class="popup-header">Nastavte si prosím trvalý příkaz</h1>
	<p class="popup-lead">Přihlaste se do Vašeho internetového bankovnictví a&nbsp;zadejte Váš trvalý příkaz.</p>
	<div class="popup-inner-main">
		<h3>Vaše dárcovské údaje:</h3>
		<div class="popup-inner-main-info">
			<h4>Číslo účtu:</h4>
			<div><h4><span>{$info['bankAccountNumber']}/{$info['bankAccountCode']}</span></h4><img src="/assets/icons/copy_icon.svg"></div>
			<h4>Variabilní symbol:</h4>
			<div><h4><span>{$gatewayInfo['vs']}</span></h4><img src="/assets/icons/copy_icon.svg"></div>
			<h4>Částka:</h4>
			<div><h4><span>{$gatewayInfo['amount']}</span>&nbsp;Kč</h4><img src="/assets/icons/copy_icon.svg"></div>
		</div>
	</div>
	<p class="popup-lead">Údaje jsme Vám právě odeslali i&nbsp;e-mailem. Až budete mít trvalý příkaz nastaven, prosím potvrďte stisknutím tlačítka níže.</p>
	<div class="btn btn-light-darker-bluish-gray-transparent">Mám hotovo!</div>
	<div class="btn btn-very-dark-blue" style="display: none;"><a href="/darujte/payment-info/done?id={$gatewayInfo['id']}&hash={$gatewayInfo['hash']}">Potvrzuji</a></div>
</div>
<div class="popup-inner popup-non popup-gateway-inner popup-gateway-inner-transfer popup-gateway-inner-transfer-once" n:if="$type=='bank-transfer' && $gatewayInfo['frequency']=='once'">
	<div class="popup-image desktop-only" style="background-image: url('/assets/icons/gateway/coins_very_dark_blue.svg')"></div>
	<h1 class="popup-header">Nastavte si prosím příkaz k úhradě</h1>
	<p class="popup-lead">Přihlaste se do Vašeho internetového bankovnictví a zadejte Váš příkaz k úhradě.</p>
	<div class="popup-inner-main-container">
		<div class="popup-inner-main">
			<h3>Vaše dárcovské údaje:</h3>
			<div class="popup-inner-main-info">
				<h4>Číslo účtu:</h4>
				<div><h4><span>{$info['bankAccountNumber']}/{$info['bankAccountCode']}</span></h4><img src="/assets/icons/copy_icon.svg"></div>
				<h4>Variabilní symbol:</h4>
				<div><h4><span>{$gatewayInfo['vs']}</span></h4><img src="/assets/icons/copy_icon.svg"></div>
				<h4>Částka:</h4>
				<div><h4><span>{$gatewayInfo['amount']}</span>&nbsp;Kč</h4><img src="/assets/icons/copy_icon.svg"></div>
			</div>
		</div>
		<div class="popup-inner-main">
			<h4>Pro urychlení můžete naskenovat QR kód (níže) ve Vašem mobilním bankovnictví.</h4>
			<img src="{sprintf('https://api.paylibo.com/paylibo/generator/czech/image?compress=false&size=150&accountNumber=%s&bankCode=%s&amount=%s&currency=CZK&vs=%s&message=%s',
	        $info['bankAccountNumber'],
	        $info['bankAccountCode'],
	        $gatewayInfo['amount'],
	        $gatewayInfo['vs'],
	        urlencode($info['paymentMessage']))}" alt="qrCode" id="popupOnceQRCode">
		</div>
	</div>
	<p class="popup-lead">Údaje jsme Vám právě odeslali i&nbsp;e-mailem. Až budete mít příkaz k úhradě nastaven, prosím potvrďte stisknutím tlačítka níže.</p>
	<div class="btn btn-light-darker-bluish-gray-transparent">Mám hotovo!</div>
	<div class="btn btn-very-dark-blue" style="display: none;"><a href="/darujte/payment-info/done?id={$gatewayInfo['id']}&hash={$gatewayInfo['hash']}">Potvrzuji</a></div>
</div>
<div class="popup-inner popup-non popup-gateway-inner" n:if="$type=='failure'">
	<div class="popup-image" style="background-image: url('/assets/icons/gateway/coins_very_dark_blue.svg')"></div>
	<h1 class="popup-header">Omlouváme se.<br>Někde nastala chyba.</h1>
	<p class="popup-lead">Zkuste prosím vyplnit formulář znovu. V případě opakující se chyby kontaktujte podporu na <a href="mailto:webmaster@srnka.net">webmaster@srnka.net</a>.</p>
	<div class="btn btn-very-dark-blue"><a n:href="Homepage:gateway">Obnovit stránku</a></div>
	<a class="popup-link-small" n:href="Homepage:default">Přejít na hlavní stránku</a>
</div>
<div class="popup-inner popup-non popup-gateway-inner" n:if="$type=='errorUnknown'">
	<div class="popup-image" style="background-image: url('/assets/icons/gateway/coins_very_dark_blue.svg')"></div>
	<h1 class="popup-header">Omlouváme se.<br>Někde nastala chyba.</h1>
	<p class="popup-lead">Opravíme ji hned, jak jen to bude možné. V případě jejího opakování prosím kontaktujte podporu na <a href="mailto:webmaster@srnka.net">webmaster@srnka.net</a>.</p>
	<div class="btn btn-very-dark-blue"><a n:href="Homepage:default">Přejít na hlavní stránku</a></div>
</div>
<div class="popup-inner popup-non popup-gateway-inner" n:if="$type=='done'">
	<div class="popup-image" style="background-image: url('/assets/icons/gateway/coins_very_dark_blue.svg')"></div>
	<h1 class="popup-header">Děkujeme za podporu!</h1>
	<div class="btn btn-pink"><a n:href="Homepage:default">Přejít na hlavní stránku</a></div>
</div>
