<!DOCTYPE html><html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$subject}</title>
	<!-- RESETS -->
		<!--[if (gte mso 9)|(IE)]>
	<style type="text/css">
		table {
			border-collapse: collapse;
		}
	</style>
<![endif]-->
		<!--[if !mso]>
		<![endif]-->
		<style type="text/css">
			[style*="Arial"] {
				font-family: Arial;
			}
			@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,400&display=swap');
			body {
				margin: 0 !important;
				padding: 0;
			}
			p {
				padding: 0 !important;
				margin: 0 !important;
			}
			a p {
				color: #57c3c7;
			}
			a {
				color: #FA1A5B;
				text-decoration: underline;
			}
			table {
				border-spacing: 0;
			}
			td {
				padding: 0;
			}
			div[style*="margin: 16px 0"] {
				margin: 0 !important;
			}
			img {
				border: 0;
			}
			li {
				padding: 5px 0 0 0 !important;
			}
			/* What it does: Hover styles for buttons */
			.button-td,
			.button-a {
				transition: all 100ms ease-in;
			}
			.button-td-primary:hover,
			.button-a-primary:hover {
				background: #a70000 !important;
				border-color: #a70000 !important;
			}
			.footer-content a {
				text-decoration: underline;
			}
			.footer-content a:hover {
				text-decoration: none;
			}
			.footer-content a,
			.footer-content a:hover {
				color: #656565;
			}
			.footer-content a.red,
			.footer-content a.red:hover {
				color: #c80000;
			}
			.footer-content a.blue,
			.footer-content a.blue:hover {
				color: #2eb6c4;
			}
		</style>
		<!-- PROGRESSIVE ENHANCEMENT -->
		<style type="text/css">
			@media only screen and (max-width: 659px) {
				.no-mobile {
					display: none !important;
				}
				.mobile_padding {
					padding: 0 !important;
				}
				.footer-mobile-span {
					height: 20px !important;
				}
				.left {
					text-align: left !important;
				}
				.center {
					text-align: center !important;
				}
				.responsive {
					width: 100% !important;
					max-width: 100% !important;
					height: auto !important;
					max-height: 100% !important;
					min-width: 100% !important;
					margin: 0 !important;
				}
				.padding {
					padding: 0 0 10px 0 !important;
					border: 0 !important;
				}
				.padding-footer {
					padding: 0 0 1px 0 !important;
				}
				.mobile-headline {
					height: auto !important;
				}
				.mar {
					margin-bottom: 10px !important;
				}
				.responsive_col {
					width: 100% !important;
					max-width: 100% !important;
				}
				.border {
					border-bottom: 8px solid #ffffff !important;
					border-left: none !important;
					border-right: none !important;
					padding: 10px 40px !important;
				}
				.pa {
					padding: 10px 10px 10px 10px !important;
				}
				.pa0 {
					padding: 0 !important;
				}
				.pa20 {
					padding: 0px 20px !important;
				}
				.pa25 {
					padding: 0px 25px !important;
				}
				.ramecek-ps {
					padding: 0 8px !important;
				}
			}
			@media only screen and (min-width: 620px) {
				.mobile-only {
					display: none;
				}
			}
			@media screen and (min-width: 401px) and (max-width: 658px) {
				.responsive {
					width: 100% !important;
					max-width: 100% !important;
					height: auto !important;
					max-height: 100% !important;
					min-width: 100% !important;
					margin: 0 !important;
				}
				.responsive-btn {
					width: 360px !important;
					height: auto !important;
					max-height: 100% !important;
					min-width: 100% !important;
					margin: 0 !important;
				}
				.center {
					text-align: center !important;
				}
				.col4 {
					width: 25% !important;
					max-width: 25% !important;
					height: auto !important;
					max-height: none !important;
				}
				td.col4 {
					padding-right: 0 !important;
					padding-left: 0 !important;
				}
				.ramecek-ps {
					padding: 0 8px !important;
				}
				.pa {
					padding: 10px 10px 10px 10px !important;
				}
				.pa20 {
					padding: 0px 20px !important;
				}
				.pa25 {
					padding: 0px 25px !important;
				}
			}
		</style>
	</head>
	<body style="background-color: #e7ebee;margin: 0px; padding: 0px;" topmargin="0" marginwidth="0" marginheight="0" leftmargin="0">
		<div><span mkt-inline-edit="true" class="preheader" style="display: none; display: none !important; color: #e7ebee ; font-size: 1px;">Vaše dárcovské údaje jasně a přehledně.‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌&nbsp;‌</span></div>
			<table style="margin: 0 auto; width: 100%; background-color: #E6E6EB; text-align: center;" cellspacing="0" cellpadding="0" border="0" align="center">
				<tbody><tr>
					<td>
						<div style="max-width: 660px; margin: 0 auto;">
										<!--[if (gte mso 9)|(IE)]>
						<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
						<v:fill type="tile" src="" color="#E6E6EB"></v:fill>
						</v:background>
			<table width="660" align="center" cellpadding="0" cellspacing="0" border="0">
			<tr>
			<td>
			<![endif]-->
			<table class="responsive" style="margin: 0 auto; width: 100%; max-width: 660px;min-width: 660px; background-color:#E6E6EB;" valign="top" cellspacing="0" cellpadding="0" border="0" align="center">
				<!-- HEADER -->
				<tbody><tr>
					<td style="text-align: center; font-size: 0;">
																<!--[if (gte mso 9)|(IE)]>
						<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #E6E6EB;">
						<tr>
						<td width="660" valign="top">
						<![endif]-->
						<div style="width: 100%; max-width: 660px; display: inline-block; vertical-align: top;background-color:#E6E6EB;">
							<table style="background-color: #E6E6EB;" width="100%" cellspacing="0" cellpadding="0" border="0">
								<!-- DRAG & DROP BEGIN-->
								<tbody><tr>
									<td data-original-style="" mkt-area-type="droppable" style="" class="" align="center">
										<table mkt-block="true" width="100%" cellspacing="0" cellpadding="0" border="0">
											<tbody><tr>
												<td>
													<table mkt-block="true" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="">
														<tbody><tr>
															<td style="padding: 0px; font-family: Arial; font-size: 26px; line-height: 32px; color: rgb(250, 26, 91); text-align: center; vertical-align: top; font-weight: 800; letter-spacing: 0px; " class="pa25" mkt-inline-edit="true" aria-multiline="true"><br>Dokončete Váš dar, zbývá poslední krok</td>
														</tr>
													</tbody></table>
												</td>
											</tr>
										</tbody></table>
										<table mkt-block="true" width="100%" cellspacing="0" cellpadding="0" border="0">
											<tbody><tr>
												<td>
													<table mkt-block="true" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="">
														<tbody><tr>
															<td style="padding: 0px; font-family: Arial; font-size: 18px; line-height: 28px; color: rgb(41, 43, 102); text-align: left; vertical-align: top; font-weight: 400; letter-spacing: 0px; " class="pa25" mkt-inline-edit="true" aria-multiline="true"><br>​​​​​​​Dobrý den,<br>​​​​​​​vše je vyplněno, vše připraveno. Nyní Vás čeká to&nbsp;hlavní – nastavit Váš {if $frequency == 'monthly'}trvalý příkaz{else}příkaz k úhradě​​​​​​​{/if}.<br>​​​​​​​<br> <strong>Do Vašeho internetového bankovnictví prosím zadejte tyto údaje</strong><br><table class=" cke_show_border"><tbody><tr><td style="width: 70%;">Variabilní symbol:</td><td>{$vs}</td></tr><tr><td style="width: 70%;">Číslo účtu</td><td>{$bankAccountNumber}/{$bankAccountCode}</td></tr><tr><td style="width: 70%;">Výše daru:</td><td>{$amount}&nbsp;Kč</td></tr>{if $frequency == 'monthly'}<tr><td style="width: 70%;">Frekvence:</td><td>měsíční</td></tr>{/if}</tbody></table>​​​​​​​{if $frequency == 'once'}<br>Pro urychlení můžete naskenovat QR kód v mobilním bankovnictví:<br>​​​​​​​<br><img src="{$qrCode}" style="display: block; margin-left: auto; margin-right: auto; width: 200px;"><br><br>{/if}</td>
														</tr>
													</tbody></table>
													<table mkt-block="true" width="100%" cellspacing="0" cellpadding="0" border="0">
														<tbody><tr>
															<td class="ramecek-ps">
																<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="">
																	<tbody><tr mkt-block="dataset">
																		<td mkt-data-field="height||bgcolor" mkt-label-height="Výška mezery v px (min.1)" mkt-label-bgcolor="Barva (např. černá: #000000, červená: #FA1A5B)" style="font-size:1px;line-height:1x;border-top-left-radius: 4px;border-top-right-radius: 4px" height="6" bgcolor="#FA1A5B">&nbsp;</td>
																	</tr>
																</tbody></table>
															</td>
														</tr>
														<tr>
															<td class="ramecek-ps">
																<table style="border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff">
																	<tbody><tr>
																		<td style="font-size:5px;line-height:5px;" height="35">&nbsp;</td>
																	</tr>
																	<tr>
																		<td style="padding: 0px 25px; font-family: Arial; font-size: 26px; line-height: 40px; color: rgb(250, 26, 91); text-align: center; vertical-align: top; font-weight: 800; letter-spacing: 0px; " class="pa20" mkt-inline-edit="true" aria-multiline="true">Máte hotovo?</td>
																	</tr>
																	<tr>
																		<td style="font-size:5px;line-height:5px;" height="15">&nbsp;</td>
																	</tr>
																	<tr>
																		<td style="padding: 0px 25px; font-family: Arial; font-size: 18px; line-height: 28px; color: rgb(41, 43, 102); text-align: center; vertical-align: top; font-weight: 400; letter-spacing: 0px; " class="pa20" mkt-inline-edit="true" aria-multiline="true">Potvrďte prosím stisknutím tlačítka níže.</td>
																	</tr>
																	<tr>
																		<td style="font-size:5px;line-height:5px;" height="35">&nbsp;</td>
																	</tr>
																	<tr>
																		<td mkt-block-type="dataset">
																			<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center">
																				<tbody>
																					<tr>
																						<td class="button-td button-td-primary" style="border-radius: 4px; background: #FA1A5B; font-family: Arial;">
																							<a mkt-data-field="href" mkt-label-href="URL" class="button-a button-a-primary" n:href="Homepage:paymentInfo, 'type' => 'done' (expand) ['id' => $vs, 'hash' => $hash]" target="_blank" style="background: #FA1A5B; border: 1px solid #FA1A5B; font-family: Arial; font-size: 18px; line-height: 15px; text-decoration: none; padding: 17px 22px; color: #ffffff; display: block; border-radius: 4px; font-weight: 400; text-transform: uppercase;" mkt-inline-edit="true" aria-multiline="true">Mám hotovo!</a>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																	<tr>
																		<td style="font-size:5px;line-height:5px;" height="45">&nbsp;</td>
																	</tr>
																</tbody></table>
															</td>
														</tr>
														<tr>
															<td style="font-size:5px;line-height:5px;" height="35">&nbsp;</td>
														</tr>
													</tbody></table>
													<table mkt-block="true" width="100%" border="0" cellpadding="0" cellspacing="0">
														<tbody><tr>
															<td>
																<table mkt-block="true" width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="">
																	<tbody><tr>
																		<td style="padding: 0px; font-family: Arial; font-size: 18px; line-height: 28px; color: rgb(41, 43, 102); text-align: left; vertical-align: top; font-weight: 400; letter-spacing: 0px; " class="pa25" mkt-inline-edit="true" aria-multiline="true"><br>​​​​​​Děkujeme za Vaše rozhodnutí nás podpořit.</td>
																	</tr>
																</tbody></table>
															</td>
														</tr>
													</tbody></table>
													<table mkt-block="true" width="100%" cellspacing="0" cellpadding="0" border="0">
														<tbody><tr>
														</tr>
														<tr>
															<td style="font-size:5px;line-height:5px;padding: 0 0 20px 0;" class="pa0" height="10">&nbsp;</td>
														</tr>
													</tbody></table>
												</td>
											</tr>
										</tbody></table>
									</td>
								</tr>
							</tbody></table>
						</div></td>
					</tr>
					<!-- DRAG & DROP END -->
				</tbody></table>
			</div>
																<!--[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
					<![endif]-->
				</td>
			</tr>
		</tbody></table>
										<!--[if (gte mso 9)|(IE)]>
			</td>
			</tr>
			</table>
		<![endif]-->