.gateway-frame {
	display: flex;
	align-content: center;
	margin: calc(90 * @ratio) 0 calc(100 * @ratio) 0;
	position: relative;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='1%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	.gateway-frame-corner {
		position: absolute;
		width: calc(30 * @ratio);
		height: calc(30 * @ratio);
		background-image: url("/assets/icons/gateway/corner.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		&:nth-child(1) {
			top: calc(-0.5 * @ratio);
			left: calc(-0.5 * @ratio);
		}
		&:nth-child(2) {
			top: calc(-0.5 * @ratio);
			right: calc(-0.5 * @ratio);
			transform: rotate(90deg);
		}
		&:nth-child(3) {
			bottom: calc(-0.5 * @ratio);
			right: calc(-0.5 * @ratio);
			transform: rotate(180deg);
		}
		&:nth-child(4) {
			bottom: calc(-0.5 * @ratio);
			left: calc(-0.5 * @ratio);
			transform: rotate(270deg);
		}
	}
	.gateway-frame-text {
		color: @color-white;
		width: calc(400 * @ratio);
		display: inline-block;
		margin: auto;
		h2 {
			font-weight: 800;
			font-size: calc(29 * @ratio);
			text-transform: uppercase;
			margin: 0;
		}
		p {
			font-weight: 600;
			font-size: @fontSizes[p16];
			margin-top: calc(8 * @ratio);
		}
	}
	&-style1 {
		height: calc(190 * @ratio);
		img {
			height: calc(120 * @ratio);
			margin: auto;
			&:nth-of-type(2) {
				height: calc(50 * @ratio);
				transform: rotate(-90deg);
			}
		}
		.gateway-frame-style1-last {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				left: 75%;
				top: 100%;
				width: calc(120 * @ratio);
				height: calc(120 * @ratio);
				background-image: url('/assets/icons/arrow_pink.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				transform: rotate(-45deg);
			}
		}
	}
}
.gateway-intro {
	color: @color-white;
	margin-bottom: calc(20 * @ratio);
	h1 {
		font-weight: 900;
		font-size: calc(37 * @ratio);
		line-height: calc(60 * @ratio);
		margin: auto;
		text-align: center;
	}
	p {
		text-align: center;
		font-weight: normal;
		font-size: @fontSizes[p20];
		line-height: calc(28 * @ratio);
		max-width: calc(700 * @ratio);
		margin: auto;
	}
	img {
		margin: auto;
		margin-bottom: calc(20 * @ratio);
		display: block;
	}
}
.gateway {
	margin: calc(20 * @ratio) auto;
	.gateway-arrow {
		width: calc(50 * @ratio);
		height: calc(25 * @ratio);
		margin: calc(30 * @ratio) auto calc(15 * @ratio) auto;
		background-image: url("/assets/icons/gateway/next_white.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.gateway-selector {
		height: calc(40 * @ratio);
		margin: 0 calc(50 * @ratio) calc(20 * @ratio) calc(50 * @ratio);
		padding-top: calc(15 * @ratio);
		counter-reset: gatewaySelector;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: calc(25 * @ratio);
		.gateway-selector-third {
			counter-increment: gatewaySelector;
			cursor: pointer;
			.gateway-selector-text {
				text-align: center;
				span {
					display: inline-block;
					color: @color-light-bluish-gray;
					font-size: @fontSizes[p16];
					line-height: calc(24 * @ratio);
					position: relative;
					padding-left: calc(32 * @ratio);
					&:before {
						display: block;
						width: calc(24 * @ratio);
						height: calc(24 * @ratio);
						box-sizing: border-box;
						font-size: @fontSizes[p16];
						line-height: calc(22 * @ratio);
						border: 1px solid @color-light-bluish-gray;
						border-radius: calc(12 * @ratio);
						content: counter(gatewaySelector);
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
			.gateway-selector-line {
				height: calc(5 * @ratio);
				width: 100%;
				background-color: @color-bluish-gray;
				border-radius: calc(2.5 * @ratio);
				margin-top: calc(12 * @ratio);
			}
			&-active {
				.gateway-selector-text {
					span {
						color: @color-white;
						&:before {
							border-color: @color-white;
						}
					}
				}
				.gateway-selector-line {
					background-color: @color-pink;
				}
			}
		}
	}
	.gateway-main-enclosure {
		background-color: @color-lightest-bluish-gray;
		border-radius: 8px;
		transition: height .25s ease all;
	}
	.gateway-main {
		overflow: auto;
		padding-bottom: calc(65 * @ratio);
		.gateway-main-ledge {
			display: flex;
			margin: 0 calc(54 * @ratio);
			.btn {
				display: block;
				padding: 0 calc(30 * @ratio) 0 calc(30 * @ratio);
				height: calc(70 * @ratio);
				line-height: calc(66 * @ratio);
				font-size: @fontSizes[p22];
				&.btn-bluish-gray-transparent {
					&:hover {
						.btn.btn-bluish-gray;
					}
				}
				&.btn-pink {
					&:hover {
						.btn.btn-pink-transparent;
					}
				}
			}
			&-single {
				justify-content: center;
			}
			&-double {
				justify-content: space-between;
			}
		}
		.gateway-main-text {
			color: @color-very-dark-blue;
			text-align: center;
			h2 {
				font-size: calc(37 * @ratio);
				font-weight: 900;
				margin: calc(44 * @ratio) auto 0 auto;
			}
			p {
				font-weight: 600;
				font-size: @fontSizes[p20];
				line-height: calc(28 * @ratio);
				margin: calc(10 * @ratio) calc(220 * @ratio) 0 calc(220 * @ratio);
			}
			.no-wrap {
				color: @color-bluish-gray;
				white-space: nowrap;
				margin-left: -100%;
				margin-right: -100%;
				text-align: center;
			}
		}
		.gateway-main-chooser {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: calc(40 * @ratio);
			margin: calc(85 * @ratio) calc(135 * @ratio) calc(70 * @ratio) calc(135 * @ratio);
			position: relative;
			.gateway-main-chooser-box {
				background-color: @color-light-bluish-gray;
				border-radius: 5px;
				overflow: auto;
				border: 2px solid transparent;
				height: 100%;
				box-sizing: border-box;
				display: grid;
				grid-template-rows: auto auto 1fr auto;
				.gateway-main-chooser-box-image {
					height: calc(72 * @ratio);
					width: calc(72 * @ratio);
					display: block;
					margin: calc(10 * @ratio) auto 0 auto;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
				h3 {
					margin: calc(10 * @ratio) calc(42 * @ratio) 0 calc(42 * @ratio);
					color: @color-very-dark-blue;
					font-weight: 900;
					font-size: calc(23 * @ratio);
					text-align: center;
				}
				p {
					margin: calc(16 * @ratio) calc(42 * @ratio) 0 calc(42 * @ratio);
					color: @color-bluish-gray;
					font-weight: 600;
					font-size: @fontSizes[p20];
					line-height: calc(28 * @ratio);
					text-align: center;
				}
				.btn.btn-bluish-gray {
					min-width: calc(262 * @ratio);
					border-width: calc(2 * @ratio);
					height: calc(63 * @ratio);
					line-height: calc(61 * @ratio);
					margin: calc(30 * @ratio) calc(60 * @ratio) calc(30 * @ratio) calc(60 * @ratio);
					font-size: @fontSizes[p18];
					a {
						display: block;
						width: 100%;
						height: 100%;
						line-height: inherit;
					}
					&:hover {
						.btn.btn-bluish-gray-transparent;

					}
				}
				&-active {
					background-color: @color-white;
					box-shadow: 0px 0px calc(20 * @ratio) rgba(red(@color-black),green(@color-black),blue(@color-black),.15);
					h3 {
						color: @color-pink;
					}
					.btn.btn-bluish-gray {
						.btn.btn-pink;
						border-width: calc(2 * @ratio);
						&:hover {
							.btn.btn-pink-transparent;
						}
					}
				}
			}
			.label-recommended-container {
				position: absolute;
				top: 0;
				right: 0;
				width: calc(100 * @ratio);
				height: calc(100 * @ratio);
				overflow: hidden;
				background-image: url("/assets/icons/gateway/recommended_1.png");
				background-position: top right;
				background-size: contain;
				background-repeat: no-repeat;
			}
			input[type="radio"]:checked + label {
				.gateway-main-chooser-box {
					border-color: @color-bluish-gray;
					&-active {
						border-color: @color-green;
					}
				}
			}
			&-big {
				margin: calc(85 * @ratio) calc(135 * @ratio) calc(60 * @ratio) calc(135 * @ratio);
				> label {
					display: block;
					margin: calc(-10 * @ratio) calc(-20 * @ratio);
					&.label-active {
						margin: calc(-20 * @ratio);
					}
				}
				.gateway-main-chooser-box {
					&-active {
						height: 100%;
					}
				}
				.label-recommended-container {
					top: calc(-20 * @ratio);
					right: calc(-20 * @ratio);
				}
			}
		}
		.gateway-main-amount-error {
			height: calc(25 * @ratio);
			text-align: center;
			span {
				display: none;
				font-size: @fontSizes[p12];
			}
		}
		.gateway-main-amount {
			margin-bottom: calc(20 * @ratio);
			.gateway-main-amount-chooser {
				width: calc(400 * @ratio);
				height: calc(170 * @ratio);
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: calc(23 * @ratio);
				grid-row-gap: calc(30 * @ratio);
				margin: calc(70 * @ratio) auto calc(40 * @ratio) auto;
				.btn.btn-bluish-gray-transparent {
					height: calc(70 * @ratio);
					text-transform: unset;
					a {
						font-size: @fontSizes[p22];
						line-height: calc(66 * @ratio);
					}
					&:hover {
						.btn.btn-very-dark-blue-transparent;
					}
				}
				input[type="radio"]:checked + label {
					.btn.btn-bluish-gray-transparent {
						.btn.btn-very-dark-blue-transparent;
						a {
							&:after {
								content: "";
								height: calc(22 * @ratio);
								width: calc(22 * @ratio);
								margin-left: calc(12 * @ratio);
								position: relative;
								top: 2px;
								display: inline-block;
								background-image: url("/assets/icons/gateway/tick_very_dark_blue.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-size: calc(22 * @ratio);
							}
						}
					}
				}
			}
			.gateway-main-amount-own {
				width: calc(250 * @ratio);
				margin: 0 auto;
				text-align: center;
				span {
					text-decoration: underline;
					font-weight: 600;
					font-size: @fontSizes[p20];
					color: @color-bluish-gray;
					cursor: pointer;
					&:hover {
						color: @color-very-dark-blue;
					}
				}
				input {
					margin-top: calc(16 * @ratio);
					width: 100%;
					height: calc(70 * @ratio);
					border-bottom: 1px solid @color-bluish-gray;
					border-radius: 2px;
					font-weight: 600;
					font-size: @fontSizes[p22];
					text-align: center;
					line-height: calc(69 * @ratio);
					box-sizing: border-box;
					padding-left: 0;
					color: @color-bluish-gray;
					display: none;
					&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
					&[type=number] {
						-moz-appearance: textfield;
					}
				}
				input[type="radio"]:checked ~ input {
					display: block;
				}
				input[type="radio"]:checked + label {
					* {
						color: @color-very-dark-blue;
					}
				}
			}
		}
		.gateway-main-payment {
			.gateway-main-payment-chooser {
				display: grid;
				grid-row-gap: calc(30 * @ratio);
				margin: calc(70 * @ratio) auto calc(60 * @ratio) auto;
				.btn.btn-bluish-gray-transparent {
					height: calc(70 * @ratio);
					text-transform: unset;
					padding-left: calc(22 * @ratio);
					text-align: left;
					a {
						font-size: @fontSizes[p22];
						line-height: calc(66 * @ratio);
						display: block;
						width: 100%;
						height: 100%;
						position: relative;
						&.payment-comment {
							line-height: calc(42 * @ratio);
							span {
								display: inline-block;
								font-size: @fontSizes[p14];
								font-weight: normal;
								text-transform: unset;
								line-height: calc(20 * @ratio);
								position: relative;
								top: calc(-24 * @ratio);
							}
						}
						&.payment-recommended {
							line-height: calc(44 * @ratio);
							span {
								display: inline-block;
								font-weight: 600;
								font-size: @fontSizes[p10];
								padding: 2px calc(6 * @ratio);
								line-height: calc(10 * @ratio);
								text-transform: uppercase;
								background-color: @color-green;
								color: @color-white;
								position: relative;
								top: calc(-26 * @ratio);
							}
						}
					}
					&.payment-card {
						a {
							&:after {
								content: "";
								height: calc(32 * @ratio);
								width: calc(32 * @ratio);
								position: absolute;
								top: calc(16 * @ratio);
								right: calc(16 * @ratio);
								background-image: url("/assets/icons/gateway/credit_card_bluish_gray.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-size: calc(22 * @ratio);
							}
						}
					}
					&.payment-gpay {
						.btn.btn-light-darker-bluish-gray-transparent;
						a {
							&:after {
								content: "";
								height: calc(64 * @ratio);
								width: calc(64 * @ratio);
								position: absolute;
								top: 0;
								right: calc(16 * @ratio);
								background-image: url("/assets/icons/gateway/g_pay.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-size: calc(55 * @ratio) calc(22 * @ratio);
							}
						}
					}
					&.payment-payu {
						.btn.btn-light-darker-bluish-gray-transparent;
					}
				}
				input[type="radio"]:checked + label {
					.btn.btn-bluish-gray-transparent {
						.btn.btn-very-dark-blue-transparent;
						a {
							&:after {
								content: "";
								height: calc(32 * @ratio);
								width: calc(32 * @ratio);
								position: absolute;
								top: calc(16 * @ratio);
								right: calc(16 * @ratio);
								background-image: url("/assets/icons/gateway/tick_very_dark_blue.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-size: calc(22 * @ratio);
							}
						}
					}
				}
				&-double, &-quadruple {
					width: calc(610 * @ratio);
					grid-template-columns: 1fr 1fr;
					grid-column-gap: calc(23 * @ratio);
				}
			}
		}
		.gateway-main-personal {
			width: calc(560 * @ratio);
			margin: calc(66 * @ratio) auto calc(50 * @ratio) auto;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: calc(64 * @ratio);
			.radio-chooser {
				grid-column: 1 / span 2;
				> span {
					text-transform: uppercase;
					color: @color-very-dark-blue;
					font-weight: bold;
					font-size: @fontSizes[p18];
					display: inline-block;
					margin-bottom: calc(22 * @ratio);
				}
				label {
					pointer-events: all;
					* {
						float: left;
					}
					span {
						font-size: @fontSizes[p18];
						line-height: calc(25 * @ratio);
						color: @color-very-dark-blue;
						display: inline-block;
						margin: auto calc(25 * @ratio) auto calc(15 * @ratio);
					}
				}
			}
		}
		.gateway-main-address {
			width: calc(560 * @ratio);
			margin: calc(66 * @ratio) auto calc(50 * @ratio) auto;
			display: grid;
			grid-template-columns: 2fr 1fr 1fr;
			grid-column-gap: calc(32 * @ratio);
		}
		.gateway-main-summary {
			width: calc(560 * @ratio);
			margin: calc(66 * @ratio) auto calc(50 * @ratio) auto;
			h2 {
				color: @color-bluish-gray;
				font-weight: bold;
				margin: 0;
				line-height: calc(30 * @ratio);
				font-size: @fontSizes[p22];
			}
			hr {
				border: 1px solid @color-light-bluish-gray;
				border-radius: 1px;
			}
			.gateway-main-summary-table {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: calc(16 * @ratio);
				div {
					font-size: @fontSizes[p18];
					line-height: calc(24 * @ratio);
					font-weight: 600;
					color: @color-bluish-gray;
					span {
						font-weight: normal;
					}
					a {
						text-decoration: underline;
						font-weight: 600;
						font-size: @fontSizes[p14];
						color: @color-very-dark-blue;
						cursor: pointer;
					}
					&#summaryPersonal, &#summaryAddress {
						grid-row: span 2
					}
				}
			}
		}
		.gateway-form {
			label {
				text-transform: uppercase;
				color: @color-very-dark-blue;
				font-weight: bold;
				font-size: @fontSizes[p18];
				display: inline-block;
				position: relative;
				z-index: 10;
				pointer-events: none;
				hr {
					margin-top: calc(59 * @ratio);
					margin-bottom: 0;
					border: 2px solid @color-very-dark-blue;
					border-style: solid none none none;
					border-radius: calc(5 * @ratio);
					&.warning {
						border-color: @color-pink;
					}
				}
				span {
					font-weight: normal;
					@font-size: @fontSizes[p18];
					display: inline-block;
					float: left;
					margin-top: calc(10 * @ratio);
					line-height: calc(29 * @ratio);
					text-transform: none;
				}
				.required {
					display: none;
					position: absolute;
					margin-top: 0;
					line-height: calc(14 * @ratio);
					font-size: @fontSizes[p12];
					min-width: calc(250 * @ratio);
					&.warning {
						display: block;
						color: @color-pink;
					}
					.notice {
						margin-top: 0;
					}
				}
				.checkbox-alt {
					margin-top: calc(10 * @ratio);
					margin-right: calc(9 * @ratio);
					display: inline-block;
					float: left;
				}
			}
			input[type="text"], input[type="tel"], input[type="email"] {
				margin-top: calc(-51 * @ratio);
				background-color: @color-white;
				width: 100%;
				position: relative;
				z-index: 9;
				font-weight: 600;
				font-size: @fontSizes[p16];
				color: @color-bluish-gray;
				padding-left: calc(13 * @ratio);
				border-radius: calc(2 * @ratio);
				box-sizing: border-box;
				margin-bottom: calc(30 * @ratio);
			}
		}
		&#gatewayMain7 {
			.gateway-main-ledge {
				align-content: center;
			}
			button.btn.btn-pink {
				box-shadow: 0 0 0 0 rgba(red(@color-pink), green(@color-pink), blue(@color-pink), 0.4);
				animation: pulse 2s infinite;
				display: flex !important;
				&:after {
					display: inline-block;
					content: "";
					width: calc(25 * @ratio);
					height: calc(50 * @ratio);
					background-image: url("/assets/icons/arrow.svg");
					background-size: 50%;
					background-position: center;
					background-repeat: no-repeat;
					margin: auto;
				}
				&:hover {
					&:after {
						background-image: url("/assets/icons/arrow_next_pink.svg");
					}
				}
			}
			.dot-windmill-container {
				display: none;
				height: calc(70 * @ratio);
				position: relative;
				width: calc(200 * @ratio);
				.dot-windmill {
					display: block;
					top: calc(25 * @ratio);
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}


@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(red(@color-pink), green(@color-pink), blue(@color-pink), 1);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(red(@color-pink), green(@color-pink), blue(@color-pink), 0);
	}
	100% {
		box-shadow: 0 0 0 50px rgba(red(@color-pink), green(@color-pink), blue(@color-pink), 0);
	}
}