.gateway-frame {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: calc(90 * @ratio) calc(15 * @ratio) calc(100 * @ratio) calc(15 * @ratio);
	padding: calc(30 * @ratio);
	box-sizing: border-box;
	position: relative;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='1%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	.gateway-frame-corner {
		position: absolute;
		width: calc(30 * @ratio);
		height: calc(30 * @ratio);
		background-image: url("/assets/icons/gateway/corner.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		&:nth-child(1) {
			top: calc(-0.5 * @ratio);
			left: calc(-0.5 * @ratio);
		}
		&:nth-child(2) {
			top: calc(-0.5 * @ratio);
			right: calc(-0.5 * @ratio);
			transform: rotate(90deg);
		}
		&:nth-child(3) {
			bottom: calc(-0.5 * @ratio);
			right: calc(-0.5 * @ratio);
			transform: rotate(180deg);
		}
		&:nth-child(4) {
			bottom: calc(-0.5 * @ratio);
			left: calc(-0.5 * @ratio);
			transform: rotate(270deg);
		}
	}
	.gateway-frame-text {
		color: @color-white;
		width: auto;;
		display: inline-block;
		margin: auto;
		h2 {
			font-weight: 800;
			font-size: calc(29 * @ratio);
			text-transform: uppercase;
			margin: 0;
			text-align: center;
		}
		p {
			font-weight: 600;
			font-size: @fontSizes[p16];
			margin-top: calc(8 * @ratio);
			text-align: center;
			span {
				font-weight: 800;
			}
		}
	}
	&-style1 {
		height: auto;
		img {
			height: calc(120 * @ratio);
			margin: calc(20 * @ratio) auto;
			&:nth-of-type(2) {
				height: calc(50 * @ratio);
				transform: rotate(0deg);
			}
		}
		.gateway-frame-style1-last {
			margin-bottom: calc(15 * @ratio);
			position: relative;
			&:after {
				content: "";
				position: absolute;
				left: 80%;
				top: 100%;
				width: calc(90 * @ratio);
				height: calc(90 * @ratio);
				background-image: url('/assets/icons/arrow_pink.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				transform: rotate(-60deg);
			}
		}
	}
}
.gateway-intro {
	color: @color-white;
	margin: calc(20 * @ratio);
	h1 {
		font-weight: 900;
		font-size: calc(37 * @ratio);
		line-height: calc(60 * @ratio);
		margin: auto;
		margin-bottom: calc(10 * @ratio);
		text-align: center;
	}
	p {
		text-align: center;
		font-weight: 600;
		font-size: @fontSizes[p20];
		line-height: calc(28 * @ratio);
		max-width: calc(700 * @ratio);
		margin: auto;
	}
}
.gateway {
	margin-top: calc(60 * @ratio);
	margin-bottom: 0;
	min-height: 0;
	.gateway-arrow {
		width: calc(50 * @ratio);
		height: calc(25 * @ratio);
		margin: calc(30 * @ratio) auto calc(15 * @ratio) auto;
		background-image: url("/assets/icons/gateway/next_white.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.gateway-selector {
		height: auto;
		margin: calc(96 * @ratio) calc(14 * @ratio) calc(16 * @ratio) calc(14 * @ratio);
		padding-top: calc(15 * @ratio);
		counter-reset: gatewaySelector;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: calc(20 * @ratio);
		.gateway-selector-third {
			counter-increment: gatewaySelector;
			cursor: pointer;
			display: flex;
			flex-direction: column-reverse;
			.gateway-selector-text {
				text-align: center;
				span {
					display: block;
					color: @color-white;
					font-size: @fontSizes[p16];
					line-height: calc(24 * @ratio);
					position: relative;
					padding-left: 0;
					text-align: center;
					width: 100%;
					margin-top: calc(4 * @ratio);
					&:before {
						display: block;
						width: calc(24 * @ratio);
						height: calc(24 * @ratio);
						box-sizing: border-box;
						font-size: @fontSizes[p16];
						line-height: calc(22 * @ratio);
						border: 1px solid @color-white;
						border-radius: calc(12 * @ratio);
						content: counter(gatewaySelector);
						position: absolute;
						top: calc(-44 * @ratio);
						left: calc(50% - (12 * @ratio));
						color: @color-very-dark-blue;
						background-color: @color-white
					}
				}
			}
			.gateway-selector-line {
				height: calc(5 * @ratio);
				width: 100%;
				background-color: @color-white;
				border-radius: calc(2.5 * @ratio);
				margin-top: calc(12 * @ratio);
			}
			&-active {
				.gateway-selector-text {
					span {
						&:before {
							background-color: transparent;
							color: @color-white;
						}
					}
				}
				.gateway-selector-line {
					background-color: @color-pink;
				}
			}
		}
	}
	.gateway-main {
		background-color: @color-lightest-bluish-gray;
		border-radius: 0;
		overflow: auto;
		.gateway-main-ledge {
			display: flex;
			flex-direction: column-reverse;
			align-content: center;
			margin: 0 calc(45 * @ratio) calc(60 * @ratio) calc(45 * @ratio);
			.btn {
				display: block;
				padding: 0 calc(30 * @ratio) 0 calc(30 * @ratio);
				height: calc(70 * @ratio);
				line-height: calc(66 * @ratio);
				font-size: @fontSizes[p18];
				margin-top: calc(20 * @ratio);
				&-bluish-gray-transparent {
					.btn.btn-very-dark-blue-transparent;
					margin: auto;
					margin-top: calc(20 * @ratio);
				}
			}
			&-single {
				justify-content: center;
			}
			&-double {
				justify-content: space-between;
			}
		}
		.gateway-main-text {
			color: @color-very-dark-blue;
			text-align: center;
			h2 {
				font-size: calc(32 * @ratio);
				font-weight: 900;
				margin: calc(44 * @ratio) calc(10 * @ratio) 0 calc(10 * @ratio);
			}
			p {
				font-weight: 600;
				font-size: @fontSizes[p20];
				line-height: calc(28 * @ratio);
				margin: calc(10 * @ratio) calc(30 * @ratio) 0 calc(30 * @ratio);
			}
			.no-wrap {
				white-space: normal;
				margin-left: 0;
				margin-right: 0;
				text-align: center;
			}
		}
		.gateway-main-chooser {
			display: grid;
			grid-template-columns: 1fr;
			grid-row-gap: calc(22 * @ratio);
			margin: calc(30 * @ratio) calc(15 * @ratio) calc(60 * @ratio) calc(15 * @ratio);
			position: relative;
			.gateway-main-chooser-box {
				background-color: @color-light-bluish-gray;
				border-radius: 2px;
				overflow: auto;
				border: 2px solid transparent;
				.gateway-main-chooser-box-image {
					height: calc(72 * @ratio);
					width: calc(72 * @ratio);
					display: block;
					margin: calc(10 * @ratio) auto 0 auto;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
				h3 {
					margin: calc(10 * @ratio) calc(30 * @ratio) 0 calc(30 * @ratio);
					color: @color-very-dark-blue;
					font-weight: 900;
					font-size: @fontSizes[p20];
					text-align: center;
				}
				p {
					margin: calc(16 * @ratio) calc(30 * @ratio) 0 calc(30 * @ratio);
					color: @color-very-dark-blue;
					font-weight: 600;
					font-size: @fontSizes[p18];
					line-height: calc(28 * @ratio);
					text-align: center;
					position: relative;
					&.show-more {
						overflow: hidden;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
					}
				}
				.btn.btn-bluish-gray {
					min-width: calc(262 * @ratio);
					border-width: 0;
					height: calc(63 * @ratio);
					line-height: calc(63 * @ratio);
					margin: calc(30 * @ratio);
					font-size: @fontSizes[p18];
					a {
						display: block;
						width: 100%;
						height: 100%;
						line-height: inherit;
					}
				}
				&-active {
					background-color: @color-white;
					box-shadow: 0px 0px calc(20 * @ratio) rgba(red(@color-black),green(@color-black),blue(@color-black),.15);
					h3 {
						color: @color-pink;
					}
					.btn.btn-bluish-gray {
						.btn.btn-pink;
						border-width: 0;
					}
				}
			}
			.label-recommended-container {
				position: absolute;
				top: 0;
				right: 0;
				width: calc(80 * @ratio);
				height: calc(80 * @ratio);
				overflow: hidden;
				background-image: url("/assets/icons/gateway/recommended_3.svg");
				background-position: top right;
				background-size: contain;
				background-repeat: no-repeat;
			}
			label {
				&.label-active {
					grid-row: 1;
				}
			}
			input[type="radio"]:checked + label {
				.gateway-main-chooser-box {
					border-color: @color-bluish-gray;
					&-active {
						border-color: @color-green;
					}
				}
			}
			&-big {
				margin: calc(30 * @ratio) calc(15 * @ratio) calc(60 * @ratio) calc(15 * @ratio);
				> label {
					display: block;
					margin: 0;
					&.label-active {
						margin: 0;
					}
				}
				.gateway-main-chooser-box {
					&-active {
						height: 100%;
					}
				}
				.label-recommended-container {
					top: 0;
					right: 0;
					background-image: url("/assets/icons/gateway/recommended_2.svg");
				}
			}
		}
		.gateway-main-amount {
			margin-bottom: calc(20 * @ratio);
			.gateway-main-amount-chooser {
				width: auto;
				height: auto;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: calc(20 * @ratio);
				grid-row-gap: calc(20 * @ratio);
				margin: calc(45 * @ratio) calc(16 * @ratio);
				box-sizing: border-box;
				.btn.btn-bluish-gray-transparent {
					height: calc(70 * @ratio);
					text-transform: unset;
					a {
						font-size: @fontSizes[p20];
					}
				}
				input[type="radio"]:checked + label {
					.btn.btn-bluish-gray-transparent {
						.btn.btn-very-dark-blue-transparent;
						background-color: @color-white !important;
						border-width: 3px;
						a {
							line-height: calc(64 * @ratio);
							&:after {
								display: none;
							}
						}
					}
				}
			}
			.gateway-main-amount-own {
				width: calc(247 * @ratio);
				margin: 0 auto;
				text-align: center;
				span {
					text-decoration: underline;
					font-weight: 600;
					font-size: @fontSizes[p18];
					color: @color-bluish-gray;
					cursor: pointer;
				}
				input {
					margin-top: calc(16 * @ratio);
					width: 100%;
					height: calc(70 * @ratio);
					border-bottom: 2px solid @color-bluish-gray;
					border-radius: 2px;
					font-weight: 600;
					font-size: @fontSizes[p20];
					text-align: center;
					line-height: calc(68 * @ratio);
					box-sizing: border-box;
					padding-left: 0;
					color: @color-bluish-gray;
					display: none;
				}
				input[type="radio"]:checked ~ input {
					display: block;
				}
				input[type="radio"]:checked + label {
					* {
						color: @color-very-dark-blue;
					}
				}
			}
		}
		.gateway-main-payment {
			.gateway-main-payment-chooser {
				display: grid;
				grid-row-gap: calc(20 * @ratio);
				margin: calc(70 * @ratio) calc(45 * @ratio) calc(40 * @ratio) calc(45 * @ratio);
				.btn.btn-bluish-gray-transparent {
					height: calc(70 * @ratio);
					text-transform: unset;
					padding-left: calc(22 * @ratio);
					text-align: left;
					a {
						font-size: @fontSizes[p22];
						line-height: calc(66 * @ratio);
						display: block;
						width: 100%;
						height: 100%;
						position: relative;
						&.payment-comment {
							line-height: calc(42 * @ratio);
							span {
								display: inline-block;
								font-size: @fontSizes[p14];
								font-weight: normal;
								text-transform: unset;
								line-height: calc(20 * @ratio);
								position: relative;
								top: calc(-24 * @ratio);
							}
						}
						&.payment-recommended {
							line-height: calc(44 * @ratio);
							span {
								display: inline-block;
								font-weight: 600;
								font-size: @fontSizes[p10];
								padding: 2px calc(6 * @ratio);
								line-height: calc(10 * @ratio);
								text-transform: uppercase;
								background-color: @color-green;
								color: @color-white;
								position: relative;
								top: calc(-26 * @ratio);
							}
						}
					}
					&.payment-card {
						a {
							&:after {
								content: "";
								height: calc(32 * @ratio);
								width: calc(32 * @ratio);
								position: absolute;
								top: calc(16 * @ratio);
								right: calc(16 * @ratio);
								background-image: url("/assets/icons/gateway/credit_card_bluish_gray.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-size: calc(22 * @ratio);
							}
						}
					}
					&.payment-gpay {
						a {
							&:after {
								content: "";
								height: calc(64 * @ratio);
								width: calc(64 * @ratio);
								position: absolute;
								top: 0;
								right: calc(16 * @ratio);
								background-image: url("/assets/icons/gateway/g_pay.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-size: calc(55 * @ratio) calc(22 * @ratio);
							}
						}
					}
				}
				input[type="radio"]:checked + label {
					.btn.btn-bluish-gray-transparent {
						.btn.btn-very-dark-blue-transparent;
						a {
							&:after {
								content: "";
								height: calc(32 * @ratio);
								width: calc(32 * @ratio);
								position: absolute;
								top: calc(16 * @ratio);
								right: calc(16 * @ratio);
								background-image: url("/assets/icons/gateway/tick_very_dark_blue.svg");
								background-position: center;
								background-repeat: no-repeat;
								background-size: calc(22 * @ratio);
							}
						}
					}
				}
				&-double {
					width: auto;
					grid-template-columns: 1fr;
				}
				&-quadruple {
					width: auto;
					grid-template-columns: 1fr;
				}
			}
		}
		.gateway-main-personal {
			width: auto;
			margin: calc(66 * @ratio) calc(30 * @ratio) calc(50 * @ratio) calc(30 * @ratio);
			display: grid;
			grid-template-columns: 1fr;
			.radio-chooser {
				grid-column: 1;
				> span {
					text-transform: uppercase;
					color: @color-very-dark-blue;
					font-weight: bold;
					font-size: @fontSizes[p18];
					display: inline-block;
					margin-bottom: calc(22 * @ratio);
				}
				label {
					pointer-events: all;
					display: flex;
					width: 100%;
					justify-content: flex-start;
					margin-bottom: calc(16 * @ratio);
					* {
						float: none;
					}
					span {
						font-size: @fontSizes[p18];
						line-height: calc(32 * @ratio);
						color: @color-very-dark-blue;
						display: inline-block;
						margin: auto calc(25 * @ratio) auto calc(15 * @ratio);
					}
				}
			}
		}
		.gateway-main-address {
			width: auto;
			margin: calc(66 * @ratio) calc(30 * @ratio) calc(50 * @ratio) calc(30 * @ratio);
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: calc(32 * @ratio);
		}
		.gateway-main-summary {
			width: auto;
			margin: calc(36 * @ratio) calc(30 * @ratio) calc(50 * @ratio) calc(30 * @ratio);
			h2 {
				color: @color-bluish-gray;
				font-weight: bold;
				margin: 0;
				line-height: calc(30 * @ratio);
				font-size: @fontSizes[p22];
			}
			hr {
				border: 1px solid @color-light-bluish-gray;
				border-radius: 1px;
				margin: calc(10 * @ratio) auto calc(12 * @ratio) auto;
			}
			.gateway-main-summary-table {
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: calc(19 * @ratio);
				div {
					font-size: @fontSizes[p18];
					line-height: calc(24 * @ratio);
					font-weight: 600;
					color: @color-very-dark-blue;
					span {
						font-weight: normal;
						color: @color-bluish-gray;
					}
					a {
						text-decoration: underline;
						font-weight: 600;
						font-size: @fontSizes[p14];
						color: @color-very-dark-blue;
						cursor: pointer;
					}
					&#summaryPersonal {
						grid-row: 4;
					}
				}
			}
		}
		.gateway-form {
			label {
				text-transform: uppercase;
				color: @color-very-dark-blue;
				font-weight: bold;
				font-size: @fontSizes[p18];
				display: inline-block;
				position: relative;
				z-index: 10;
				pointer-events: none;
				hr {
					margin-top: calc(59 * @ratio);
					margin-bottom: 0;
					border: 2px solid @color-very-dark-blue;
					border-style: solid none none none;
					border-radius: calc(5 * @ratio);
					&.warning {
						border-color: @color-pink;
					}
				}
				span {
					font-weight: normal;
					@font-size: @fontSizes[p18];
					display: inline-block;
					float: left;
					margin-top: calc(10 * @ratio);
					line-height: calc(29 * @ratio);
					text-transform: none;
				}
				.required {
					display: none;
					position: absolute;
					margin-top: 0;
					line-height: calc(14 * @ratio);
					font-size: @fontSizes[p12];
					min-width: calc(250 * @ratio);
					&.warning {
						display: block;
						color: @color-pink;
					}
					.notice {
						margin-top: 0;
					}
				}
				.checkbox-alt {
					margin-top: calc(10 * @ratio);
					margin-right: calc(9 * @ratio);
					display: inline-block;
					float: left;
				}
			}
			input[type="text"], input[type="tel"], input[type="email"] {
				margin-top: calc(-51 * @ratio);
				background-color: @color-white;
				width: 100%;
				position: relative;
				z-index: 9;
				font-weight: 600;
				font-size: @fontSizes[p16];
				color: @color-bluish-gray;
				padding-left: calc(13 * @ratio);
				border-radius: calc(2 * @ratio);
				box-sizing: border-box;
				margin-bottom: calc(30 * @ratio);
			}
		}
		&#gatewayMain7 {
			.dot-windmill-container {
				display: none;
				height: calc(70 * @ratio);
				position: relative;
				width: calc(200 * @ratio);
				margin: auto;
				.dot-windmill {
					display: block;
					top: 25px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}