

.btn {
  &.footer-btn {
    font-size: @fontSizes[p15];
    line-height: @footer-btn-inner-height;
    height: @footer-btn-height;
    width: 100%;
    &:not(:first-child) {
      margin-right: calc(0 * @ratio);
      margin-bottom: calc(10 * @ratio);
    }
    &:first-child {
      grid-row: 3;
      .btn.btn-bluish-gray;
    }
    &:nth-child(2) {
      .btn.btn-pink;
    }
    &:nth-child(3) {
      .btn.btn-transparent;
    }
  }
  &.menu-btn-mobile {
    border: none;
    padding: 0 !important;
    font-size: @fontSizes[p15] !important;
    width: 100%;
    &:not(.btn-pink, .btn-transparent) {
      border-bottom: calc(1 * @ratio) solid @color-light-bluish-gray;
      background-color: transparent;
      text-align: right;
      height: @menu-btn-height-mobile;
      line-height: @menu-btn-height-mobile;
    }
    &.btn-transparent, &.btn-pink {
      margin: 0;
      height: @menu-btn-secondary-height-mobile;
      line-height: @menu-btn-secondary-height-mobile;
      box-sizing: content-box;
      width: calc(100% - 2*@menu-btn-border-width);
      font-size: @fontSizes[p14] !important;
      a {
        font-size: @fontSizes[p15];
      }
    }
    &.btn-transparent {
      border: @menu-btn-border-width solid @color-very-dark-blue;
      color: @color-very-dark-blue !important;
      margin-bottom: calc(14 * @ratio);
      a {
        color: @color-very-dark-blue;
      }
    }
    &.btn-pink {
      border: @menu-btn-border-width solid @color-pink;
      margin: calc(28 * @ratio) 0 calc(14 * @ratio) 0 !important;
      grid-row: 3;
    }
  }
}
main {
  width: 100%;
  margin: auto;
}
input, button {
  height: @input-height;
  line-height: @input-height;
  font-size: @fontSizes[p16];
  &[type=text],
  &[type=email] {
    padding-left: calc(17 * @ratio);
    width: calc(100% - @input-height);
  }
  &[type=submit] {
    width: @input-height;
    font-size: @fontSizes[p25];
  }
  &.short-form {
    &[type=text],
    &[type=email] {
      border-top-left-radius: @btn-border-radius;
      border-bottom-left-radius: @btn-border-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &[type=submit] {
      border-top-right-radius: @btn-border-radius;
      border-bottom-right-radius: @btn-border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      position: relative;
    }
  }
}
select {
  appearance: none;
}

.checkbox-alt {
  width: calc(29 * @ratio);
  height: calc(29 * @ratio);
  background-color: @color-white;
  border: calc(2 * @ratio) solid @color-pink;
  border-radius: calc(2 * @ratio);
}
input[type="checkbox"]:checked + label {
  .checkbox-alt {
    background: url("/assets/icons/check_box_tick_white.svg"), @color-pink;
    background-size: calc(18 * @ratio) calc(12 * @ratio);
    background-position: center calc(8 * @ratio);
    background-repeat: no-repeat;
  }
}

.radio-alt {
  width: calc(36 * @ratio);
  height: calc(36 * @ratio);
  background-color: @color-white;
  border: calc(3 * @ratio) solid @color-very-dark-blue;
  background-color: @color-white;
  border-radius: calc(18 * @ratio);
  box-sizing: border-box;
  display: inline-block;
}
input[type="radio"]:checked + label {
  .radio-alt {
    background: url("/assets/icons/dot_pink.svg"), transparent;
    background-size: calc(20 * @ratio);
    background-position: center;
    background-repeat: no-repeat;
    border-color: @color-pink;
    border-width: calc(3 * @ratio);
  }
}