body {
	width: 100%;
	height: 100%;
	border: 0;

	margin: auto;
	font-family: @font-family-barlow;
  quotes: '\201E' '\201C' '\201A' '\201B';
  background-color: @color-very-dark-blue;
}

a {
  text-decoration: none;
}

.btn {
  height: @button-height;
  line-height: @button-height;

  border-radius: @btn-border-radius;

  text-align: center;
  font-size: @fontSizes[p12];
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  box-sizing: border-box;

  a {
    line-height: @button-height;
    width: 100%;
    text-decoration: none;
    color: inherit;
  }

  &.menu-btn {
    width: @menu-btn-width;
    line-height: @menu-btn-height-inner;
    box-sizing: border-box;
    margin-left: calc(5 * @ratio);
    a {
      line-height: @menu-btn-height-inner;
    }
  }
  &.footer-btn {
    width: @footer-btn-width;
    height: @footer-btn-height;
    &:not(:last-child) {
      margin-right: calc(9 * @ratio);
    }
    a {
      line-height: @footer-btn-inner-height;
      color: inherit !important;
    }
  }
  &.btn-white {
    background-color: @color-white;
    border: @menu-btn-border-width solid @color-white;
    color: @color-very-dark-blue !important;
    a {
      color: @color-very-dark-blue !important;
    }
  }
  &.btn-pink {
    background-color: @color-pink;
    border: @menu-btn-border-width solid @color-pink;
    color: @color-white !important;
    a {
      color: @color-white !important;
    }
  }
  &.btn-light-bluish-gray {
    background-color: @color-light-bluish-gray;
    border: @menu-btn-border-width solid @color-light-bluish-gray;
    color: @color-very-dark-blue !important;
    a {
      color: @color-very-dark-blue !important;
    }
  }
  &.btn-bluish-gray {
    background-color: @color-bluish-gray;
    border: @menu-btn-border-width solid @color-bluish-gray;
    color: @color-white !important;
    a {
      color: @color-white !important;
    }
  }
  &.btn-very-dark-blue {
    background-color: @color-very-dark-blue;
    border: @menu-btn-border-width solid @color-very-dark-blue;
    color: @color-white !important;
    a {
      color: @color-white !important;
    }
  }
  &.btn-transparent {
    background-color: transparent;
    border: @menu-btn-border-width solid @color-white;
    color: @color-white !important;
    a {
      color: @color-white !important;
    }
  }
  &.btn-very-dark-blue-transparent {
    background-color: transparent;
    border: @menu-btn-border-width solid @color-very-dark-blue;
    color: @color-very-dark-blue !important;
    a {
      color: @color-very-dark-blue !important;
    }
  }
  &.btn-bluish-gray-transparent {
    background-color: transparent;
    border: @menu-btn-border-width solid @color-bluish-gray;
    color: @color-bluish-gray !important;
    a {
      color: @color-bluish-gray !important;
    }
  }
  &.btn-pink-transparent {
    background-color: transparent;
    border: @menu-btn-border-width solid @color-pink;
    color: @color-pink !important;
    a {
      color: @color-pink !important;
    }
  }
  &.btn-light-bluish-gray-transparent {
    background-color: transparent;
    border: @menu-btn-border-width solid @color-light-bluish-gray;
    color: @color-light-bluish-gray !important;
    a {
      color: @color-light-bluish-gray !important;
    }
  }
  &.btn-light-darker-bluish-gray-transparent {
    background-color: transparent;
    border: @menu-btn-border-width solid @color-light-darker-bluish-gray;
    color: @color-light-darker-bluish-gray !important;
    a {
      color: @color-light-darker-bluish-gray !important;
    }
  }
  &.btn-orange {
    background-color: @color-orange;
    border: @menu-btn-border-width solid @color-orange;
    color: @color-white !important;
    a {
      color: @color-white !important;
    }
  }
  &.btn-orange-transparent {
    background-color: transparent;
    border: @menu-btn-border-width solid @color-orange;
    color: @color-orange !important;
    a {
      color: @color-orange !important;
    }
  }
  &.btn-green {
    background-color: @color-green;
    border: @menu-btn-border-width solid @color-green;
    color: @color-white !important;
    a {
      color: @color-white !important;
    }
  }
}
.btn-inner {
	display: inline-block;
}

.aspect-ratio(@width, @height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (@height / @width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.arrow-top {
  height: calc(60 * @ratio);
  width: calc(60 * @ratio);
  display: none;
  position: fixed;
  bottom: calc(57 * @ratio);
  left: calc(100% - (100% - (unit(@sizes[page-desktop-width]) * @ratio))/4 - calc(30 * @ratio));
  border-radius: 50%;
  background: url("/assets/icons/arrow.svg"), @color-bluish-gray;
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  z-index: 1000;
  cursor: pointer;
}
main {
	width: calc(unit(@sizes[page-desktop-width]) * @ratio);
	margin: auto;
}
input, button {
	appearance: none;
  height: @input-height;
  background-color: @color-white;
  line-height: @input-height;
  font-size: @fontSizes[p16];
  font-family: @font-family-barlow;
  border: none;
  margin: 0;
  padding: 0;
  top: 0;
  vertical-align: top;
  &[type=text],
  &[type=email] {
    padding-left: calc(17 * @ratio);
    width: calc(100% - calc(50 * @ratio));
  }
  &[type=submit] {
    background-color: @color-pink;
    width: @input-height;
    font-size: @fontSizes[p25];
    color: @color-white;
    cursor: pointer;
  }
  &[type="checkbox"] {
    visibility: hidden;
    position: absolute;
  }
  &[type="radio"] {
    visibility: hidden;
    position: absolute;
    //appearance: radio;
  }
  &.short-form {
    &[type=text],
    &[type=email] {
      border-top-left-radius: @btn-border-radius;
      border-bottom-left-radius: @btn-border-radius;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      box-sizing: border-box;
      float: left;
      -webkit-background-clip: padding-box;
    }
    &[type=submit] {
      border-top-right-radius: @btn-border-radius;
      border-bottom-right-radius: @btn-border-radius;
      position: relative;
      float: left;
      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("/assets/icons/arrow.svg");
        background-size: 25%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
select {
  appearance: none;
  height: @input-height;
  background-color: @color-pink;
  line-height: calc(@input-height - 4px);
  font-size: @fontSizes[p16];
  font-family: @font-family-barlow;
  border: 2px solid @color-pink;
  border-radius: @btn-border-radius;
  color: @color-white;
  font-weight: 600;
  margin: auto;
  padding: 0 calc(32 * @ratio) 0 calc(16 * @ratio);
  top: 0;
  text-align: center;
  display: block;
  position: relative;
  background-image: url("/assets/icons/open_list_white.svg");
  background-position: calc(100% - (12 * @ratio)) center;
  background-size: calc(16 * @ratio);
  background-repeat: no-repeat;
  &:after {
    display: block;
    content: "";
    position: absolute;
    height: calc(16 * @ratio);
    width: calc(16 * @ratio);
    top: calc((@input-height - 4px - (16 * @ratio)) / 2);
    right: calc(8 * @ratio);
  }
}

.checkbox-alt {
  width: calc(29 * @ratio);
  height: calc(29 * @ratio);
  background-color: @color-white;
  border: calc(2 * @ratio) solid @color-pink;
  border-radius: calc(2 * @ratio);
  box-sizing: border-box;
}
input[type="checkbox"]:checked + label {
  .checkbox-alt {
    background: url("/assets/icons/check_box_tick_white.svg"), @color-pink;
    background-size: calc(18 * @ratio) calc(12 * @ratio);
    background-position: center calc(8 * @ratio);
    background-repeat: no-repeat;
  }
}

.radio-alt {
  width: calc(25 * @ratio);
  height: calc(25 * @ratio);
  background-color: @color-white;
  border: calc(2 * @ratio) solid @color-very-dark-blue;
  background-color: @color-white;
  border-radius: calc(12.5 * @ratio);
  box-sizing: border-box;
  display: inline-block;
}
input[type="radio"]:checked + label {
  .radio-alt {
    background: url("/assets/icons/dot_pink.svg"), transparent;
    background-size: calc(13 * @ratio);
    background-position: center;
    background-repeat: no-repeat;
    border-color: @color-pink;
    border-width: calc(3 * @ratio);
  }
}

form {
  overflow: auto;
}

.header-pink, .text-pink {
  color: @color-pink !important;
}
.text-light-bluish-gray {
  color: @color-light-bluish-gray;
}

.dot(@width: @dotWidth, @height: @dotHeight, @radius: @dotRadius, @bgColor: @dotBgColor, @color: @dotColor) {
  background-color: @bgColor;
  border-radius: @radius;
  color: @color;
  height: @height;
  width: @width;
}

@r: 10px;
@originX: 5px;
@originY: 5px + @r;

.dot-windmill {
  .dot;
  animation: dotWindmill 2s infinite linear;
  position: relative;
  top: -@r;
  transform-origin: @originX @originY;
  &::before, &::after {
    .dot;
    content: "";
    //display: inline-block;
    position: absolute;
    top: 0;
  }
  &::before {
    left: -(@r/2*1.732);
    top: @r + @r/2;
  }
  &::after {
    left: @r/2*1.732;
    top: @r + @r/2;
  }
}

@keyframes dotWindmill {
  0%   { transform: rotateZ(0deg) translate3d(0, 0, 0); }
  100% { transform: rotateZ(720deg) translate3d(0, 0, 0); }
}
.default {
  h1, h2, h3, h4, h5, h6, p {
    color: @color-white;
    margin: calc(22 * @ratio) auto;
    text-align: center;
  }
  h1 {
    font-size: calc(32 * @ratio);
  }
  h2 {
    font-size: calc(28 * @ratio);
  }
  h3 {
    font-size: calc(24 * @ratio);
  }
  h4 {
    font-size: calc(20 * @ratio);
  }
  h5 {
    font-size: calc(16 * @ratio);
  }
  h6 {
    font-size: calc(12 * @ratio);
  }
  p {
    font-size: calc(12 * @ratio);
  }
  a {
    color: @color-pink;
    text-decoration: underline;
  }
}