.popup-tiny {
	.popup-inner {
		top: calc(50vh - calc(230 * @ratio));
		padding-bottom: calc(42 * @ratio);
		.popup-closer {
			display: block;
		}
		.popup-header {
			margin-bottom: calc(20 * @ratio);
		}
		.popup-lead {
			margin: 0;
			margin-bottom: calc(15 * @ratio);
			font-size: @fontSizes[p15];
			line-height: calc(18 * @ratio);
			width: 100%;
		}
	}
}
.popup-gateway {
	overflow-y: scroll;
	.popup-inner {
		.popup-inner.popup-gateway-inner;
		top: 50%;
		display: none;
		&.popup-gateway-inner-transfer-once {
			transform: translateY(0);
		}
	}
}
.popup-reportal {
	display: block;
	background-color: rgba(red(@color-bluish-gray),green(@color-bluish-gray),blue(@color-bluish-gray),0.9);
	.popup-inner {
		width: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: calc(28 * @ratio) calc(16 * @ratio) calc(55 * @ratio);
		.popup-closer {
			position: absolute;
			height: calc(34 * @ratio);
			padding: 0 calc(37 * @ratio) 0 calc(15 * @ratio);
			bottom: 100%;
			right: 0;
			background-color: @color-light-bluish-gray;
			font-size: calc(18 * @ratio);
			text-transform: uppercase;
			line-height: calc(34 * @ratio);
			font-weight: 600;
			border-radius: calc(2 * @ratio) calc(2 * @ratio) 0 0;
			cursor: pointer;
			display: block;
			&:after {
				display: block;
				content: "";
				position: absolute;
				top: calc(10 * @ratio);
				right: calc(11 * @ratio);
				height: calc(14 * @ratio);
				width: calc(14 * @ratio);
				background-image: url("/assets/icons/close_icon.svg");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
		.popup-header {
			font-size: calc(24 * @ratio);
			line-height: calc(28 * @ratio)
		}
		.popup-lead {
			font-size: @fontSizes[p15];
			line-height: calc(18 * @ratio);
		}
		.popup-amounts {
			margin: calc(38 * @ratio) auto 0;
			width: calc(175 * @ratio);
			.btn.btn-bluish-gray-transparent {
				border-width: 2px;
				height: calc(60 * @ratio);
				margin: calc(16 * @ratio) 0 0;
				line-height: calc(56 * @ratio);
				font-size: @fontSizes[p18];
				font-weight: bold;
				&:hover {
					.btn.btn-very-dark-blue-transparent;
					border-width: 2px;
				}
				&.popup-amount-active {
					.btn.btn-very-dark-blue-transparent;
					border-width: 3px;
					line-height: calc(54 * @ratio);
				}
			}
		}
		.popup-inner-closer {
			font-weight: 600;
			font-size: @fontSizes[p18];
			line-height: calc(24 * @ratio);
			text-decoration: underline;
			text-align: center;
			color: @color-very-dark-blue;
			margin: calc(32 * @ratio) auto 0;
			cursor: pointer;
		}
		.btn.btn-pink {
			width: calc(175 * @ratio);
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: calc(60 * @ratio);
			line-height: calc(56 * @ratio);
			font-size: @fontSizes[p18];
			font-weight: bold;
			a {
				line-height: inherit;
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.popup-digest {
	background-color: rgba(red(@color-bluish-gray),green(@color-bluish-gray),blue(@color-bluish-gray),0.9);
	.popup-inner {
		width: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: calc(30 * @ratio) calc(16 * @ratio) calc(50 * @ratio);
		position: relative;
		form {
			overflow: visible;
		}
		.popup-header {
			position: relative;
			font-size: calc(24 * @ratio);
			line-height: calc(28 * @ratio);
			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				transform: translateX(0);
				width: calc(24 * @ratio);
				height: calc(24 * @ratio);
				background-image: url("/assets/icons/info_icon_pink.svg");
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;					
			}
			&:hover ~ .popup-digest-info {
				display: block;
			}
		}
		.popup-digest-info {
			display: none;
			position: absolute;
			top: calc(70 * @ratio);
			right: calc(32 * @ratio);
			color: @color-very-dark-blue;
			background-color: @color-lightest-bluish-gray;
			box-shadow: 0px 3px 15px rgba(@color-black,.125);
			border-radius: 2px;
			padding: calc(12 * @ratio);
			font-size: @fontSizes[p14];
			line-height: calc(18 * @ratio);
			z-index: 10;
			width: 40%;
			&-visible {
				display: block;
			}
			&:hover {
				&:after {
					content: "";
					display: block;
					width: calc(16 * @ratio);
					height: calc(16 * @ratio);
					background: url("/assets/icons/close_icon.svg"), @color-white;
					background-size: calc(8 * @ratio);
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 2px;
					position: absolute;
					top: 0;
					right: 0;
					cursor: pointer;
				}
			}
		}
		.popup-checkbox {
			width: 100%;
			margin: calc(64 * @ratio) auto;
			padding-left: calc(16 * @ratio);
			box-sizing: border-box;
			label {
				display: flex;
				justify-content: center;
				align-items: center;
				p {
					margin: 0 0 0 calc(16 * @ratio);
					font-size: @fontSizes[p18];
					color: @color-very-dark-blue;
					font-weight: 600;
					flex: 1;
				}
			}
		}
		.btn.btn-pink {
			width: calc(184 * @ratio);
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: calc(60 * @ratio);
			line-height: calc(56 * @ratio);
			font-size: @fontSizes[p22];
			font-weight: bold;
			a {
				line-height: inherit;
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}	
}

.popup-inner {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	padding: calc(42 * @ratio) calc(30 * @ratio) calc(100 * @ratio) calc(30 * @ratio);
	border-radius: 0;
	box-sizing: border-box;
	.popup-closer {
		display: none;
	}
	.popup-info {
		font-size: @fontSizes[p16];
		position: absolute;
		top: calc(20 * @ratio);
		left: calc(30 * @ratio);
		padding-left: calc(33 * @ratio);
		line-height: calc(25 * @ratio);
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: calc(25 * @ratio);
			height: calc(25 * @ratio);
			background-image: url("/assets/icons/info_icon.svg");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		a {
			text-decoration: underline;
		}
	}
	.popup-header {
		text-transform: uppercase;
		font-weight: 800;
		font-size: calc(30 * @ratio);
		text-align: center;
		margin: 0;
		margin-bottom: calc(6 * @ratio);
	}
	.popup-lead {
		text-align: center;
		font-size: @fontSizes[p20];
		font-weight: 600;
		line-height: calc(28 * @ratio);
		width: 100%;
		margin: 0 auto;
	}
	.popup-form {
		margin-top: calc(48 * @ratio);
		form {
			grid-template-columns: 1fr;
			> div {
				overflow-y: hidden;
				&:nth-last-of-type(2) {
					label {
						width: calc(245 * @ratio);
					}
				}
			}
			> div {
				label {
					text-transform: uppercase;
					font-weight: bold;
					font-size: @fontSizes[p18];
					display: inline-block;
					position: relative;
					z-index: 10;
					hr {
						margin-top: calc(59 * @ratio) !important;
						margin-bottom: 0;
						border-style: solid none none none;
						border-radius: calc(5 * @ratio);
					}
					span {
						font-weight: normal;
						@font-size: @fontSizes[p18];
						display: inline-block;
						float: left;
						margin-top: calc(10 * @ratio);
						line-height: calc(29 * @ratio);
						text-transform: none;
					}
					.required {
						display: none;
						position: absolute;
						margin-top: 0;
						line-height: calc(14 * @ratio);
						font-size: @fontSizes[p12];
						min-width: calc(250 * @ratio) !important;
						&.warning {
							display: block;
							color: @color-pink;
						}
						.notice {
							margin-top: 0;
						}
					}
					.checkbox-alt {
						margin-top: calc(10 * @ratio);
						margin-right: calc(9 * @ratio);
						display: inline-block;
						float: left;
					}
					&.clickable {
						pointer-events: auto;
					}
				}
				input[type="text"], input[type="tel"], input[type="email"] {
					margin-top: calc(-51 * @ratio) !important;
					width: 100%;
					position: relative;
					z-index: 9;
					font-weight: 600;
					font-size: @fontSizes[p16];
					padding-left: calc(13 * @ratio);
					border-radius: calc(2 * @ratio);
					margin-bottom: calc(30 * @ratio);
					height: calc(51 * @ratio) !important;
				}
				&.checkbox-long {
					label {
						display: flex;
						align-items: center;
						pointer-events: all;
						margin-top: calc(20 * @ratio);
						.checkbox-alt {
							margin-top: 0;
						}
						p {
							margin: 0;
							flex: 1;
							color: @color-bluish-gray;
							font-size: @fontSizes[p12];
							margin-bottom: 0;
							a {
								color: @color-pink;
							}
							text-transform: none;
							font-weight: normal;
						}
					}
					&#newsletterCheckboxLong {
						label {
							margin-top: 0px;
							margin-bottom: calc(16 * @ratio);
						}
					}
					&.checkbox-standalone {
						margin-top: 0;
					}
				}
				&.footnote {
					grid-column: span 1;
					p {
						.popup-consent;
						text-align: center;
						margin-top: calc(6 * @ratio);
					}
					.checkbox-center {
						display: flex;
						justify-content: flex-start;
						margin-top: calc(12 * @ratio);
						.checkbox-alt {
							margin-top: 0;
						}
						p {
							font-size: @fontSizes[p14];
							font-weight: normal;
							text-transform: none;
							line-height: calc(16 * @ratio);
							width: calc(230 * @ratio);
							margin-top: 0;
						}
						.checkbox-center-info-icon {
							width: calc(32 * @ratio);
							height: calc(29 * @ratio);
							background-image: url("/assets/icons/info_icon_bluish_gray.svg");
							background-position: left top;
							background-size: calc(16 * @ratio);
							background-repeat: no-repeat;
							margin: 0 0 0 calc(8 * @ratio);
							&:hover ~ .checkbox-center-info {
								display: block;
							}
						}
						.checkbox-center-info {
							position: absolute;
							bottom: 110%;
							display: none;
							left: unset;
							right: 0;
							color: @color-very-dark-blue;
							background-color: @color-lightest-bluish-gray;
							border-radius: 2px;
							padding: calc(12 * @ratio);
							font-size: @fontSizes[p14];
							line-height: calc(18 * @ratio);
							z-index: 10;
							&-visible {
								display: block;
							}
							&:hover {
								&:after {
									content: "";
									display: block;
									width: calc(16 * @ratio);
									height: calc(16 * @ratio);
									background: url("/assets/icons/close_icon.svg"), @color-lightest-bluish-gray;
									background-size: calc(8 * @ratio);
									background-position: center;
									background-repeat: no-repeat;
									border-radius: 2px;
									position: absolute;
									top: 0;
									right: 0;
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}
	}
	.popup-outside-consent {
		position: relative;
		left: 0;
		bottom: 0;
		width: auto;
		margin: 0 calc(30 * @ratio);
		text-align: center;
	}
	.popup-consent {
		font-size: @fontSizes[p14];
		line-height: calc(14 * @ratio);
		margin-top: calc(20 * @ratio);
		margin-bottom: calc(20 * @ratio);
		text-align: center;
	}
	.popup-submit {
		position: absolute;
		text-transform: uppercase;
		font-size: calc(18 * @ratio);
		line-height: calc(64 * @ratio);
		border: none;
		font-weight: bold;
		text-align: center;
		width: calc(200 * @ratio);
		height: calc(64 * @ratio);
		top: calc(100% - calc(90 * @ratio));
		left: calc(50% - calc(100 * @ratio));
		border-radius: calc(2 * @ratio);
		&:after {
			display: block;
			content: "";
			position: absolute;
			left: calc(100% + calc(26 * @ratio));
			top: 0;
			background-image: url("/assets/icons/arrow_pink.svg");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: calc(160 * @ratio);
			height: calc(104 * @ratio);
		}
	}
	&.popup-gateway-inner {
		width: calc(345 * @ratio);
		top: 50%;
		left: calc(15 * @ratio);
		padding: calc(25 * @ratio) calc(15 * @ratio) calc(48 * @ratio) calc(15 * @ratio);
		.popup-image {
			height: calc(100 * @ratio);
			width: calc(100 * @ratio);
			display: block;
			margin: 0 auto;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.popup-header {
			color: @color-very-dark-blue;
			text-transform: unset;
			font-weight: 900;
			font-size: calc(29 * @ratio);
			text-align: center;
			margin: 0;
			margin-bottom: calc(16 * @ratio);
		}
		.popup-lead {
			color: @color-very-dark-blue;
			text-align: center;
			font-size: @fontSizes[p20];
			font-weight: 600;
			line-height: calc(28 * @ratio);
			width: auto;
			margin: 0 auto calc(42 * @ratio) auto;
			a {
				color: @color-pink;
			}
		}
		.btn {
			height: calc(70 * @ratio);
			line-height: calc(66 * @ratio);
			font-size: @fontSizes[p22];
			max-width: calc(368 * @ratio);
			margin: auto;
		}
		.popup-link-small {
			display: block;
			font-size: @fontSizes[p20];
			margin-top: calc(14 * @ratio);
			font-weight: bold;
			text-align: center;
			text-decoration: underline;
			color: @color-very-dark-blue;
			cursor: pointer;
		}
	}
	&.popup-gateway-inner-transfer {
		.popup-inner-main {
			border: 3px solid @color-very-dark-blue;
			border-radius: 2px;
			margin: calc(16 * @ratio) 0 calc(22 * @ratio) 0;
			padding: calc(27 * @ratio) calc(13 * @ratio);
			padding-bottom: calc(12 * @ratio);
			color: @color-very-dark-blue;
			> h3 {
				font-size: calc(22 * @ratio);
				margin: calc(12 * @ratio) 0;
				text-align: center;
				&:nth-child(1) {
					margin-top: 0;
				}
			}
			> h4 {
				font-size: calc(16 * @ratio);
				margin: calc(12 * @ratio) 0;
				text-align: center;
				font-weight: 600;
			}
			.popup-inner-main-info {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: calc(5 * @ratio);
				> h4 {
					margin: calc(4 * @ratio) 0;
					font-size: calc(16 * @ratio);
					color: @color-bluish-gray;
					text-align: right;
				}
				div > h4 {
					margin: calc(4 * @ratio) 0;
					font-size: calc(16 * @ratio);
					display: inline-block;
					color: @color-very-dark-blue;
				}
				div > img {
					margin-bottom: calc(-2 * @ratio);
					margin-left: calc(6 * @ratio);
					display: inline-block;
					height: calc(18 * @ratio);
					cursor: pointer;
					&.ticked {
						height: calc(16 * @ratio);
						margin-bottom: 0;
					}
				}
			}
		}
		&-once {
			width: calc(345 * @ratio);
			.popup-inner-main-container {
				grid-template-columns: 1fr;
				margin: 0 0 calc(22 * @ratio) 0;
				.popup-inner-main {
					margin: 0;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					padding: calc(13 * @ratio);
					&:nth-child(2) {
						border: 0;
						background-color: @color-lightest-bluish-gray;
					}
				}
			}
		}
	}
	&.popup-overlay-inner {
		width: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: calc(32 * @ratio);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border-radius: 2px;
		.popup-icon {
			width: calc(45 * @ratio);
			img {
				display: block;
				width: 100%;
			}
		}
		.popup-header {
			color: @color-very-dark-blue;
			text-transform: none;
			font-size: calc(26 * @ratio);
			font-weight: 900;
			line-height: calc(30 * @ratio);
			margin: calc(32 * @ratio) 0 0;
		}
		.popup-lead {
			font-weight: 600;
			margin: calc(16 * @ratio) 0;
			font-size: @fontSizes[p18];
			line-height: calc(22 * @ratio);
			span {
				font-weight: bold;
			}
			a {
				color: @color-pink;
				text-decoration: underline;
			}
		}
	}
	&.popup-non {
		border-radius: 0;
		margin-top: 0;
		padding-top: calc(70 * @ratio);
		&.popup-gateway-inner {
			transform: translateY(0);
			margin: calc(60 * @ratio) 0 calc(150 * @ratio) 0;
		}
	}
	&.popup-overlay-inner {
		width: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: calc(32 * @ratio);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border-radius: 2px;
		.popup-icon {
			width: calc(45 * @ratio);
			img {
				display: block;
				width: 100%;
			}
		}
		.popup-header {
			color: @color-very-dark-blue;
			text-transform: none;
			font-size: calc(26 * @ratio);
			font-weight: 900;
			line-height: calc(30 * @ratio);
			margin: calc(32 * @ratio) 0 0;
		}
		.popup-lead {
			font-weight: 600;
			margin: calc(16 * @ratio) 0;
			font-size: @fontSizes[p18];
			line-height: calc(22 * @ratio);
			span {
				font-weight: bold;
			}
			a {
				color: @color-pink;
				text-decoration: underline;
			}
		}
	}
}
.ui-menu {
	background-color: @color-lighter-bluish-gray;
	color: @color-very-dark-blue;
	width: auto;
	max-height: 30vh;
	max-width: calc(100vw - 60 * @ratio);
	overflow: scroll;
	position: absolute;
	border-radius: calc(2 * @ratio);
	list-style: none;
	margin: 0;
	padding: calc(10 * @ratio);
	left: calc(30 * @ratio) !important;
	box-sizing: border-box;
	z-index: 250;
	li {
		margin: 0;
		padding: 0;
	}
	.ui-menu-item-wrapper {
		padding: calc(3 * @ratio);
		border: calc(2 * @ratio) solid @color-lighter-bluish-gray;
		border-radius: calc(2 * @ratio);
		cursor: pointer;
		font-size: @fontSizes[p15];
	}
	.ui-state-active {
		background-color: @color-very-dark-blue;
		border: calc(2 * @ratio) solid @color-very-dark-blue;
		color: @color-lighter-bluish-gray;
	}
}