.popup {
	display: none; /* hidden by default */
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(red(@color-bluish-gray),green(@color-bluish-gray),blue(@color-bluish-gray),0.9);
	z-index: 10000;
	&-action-center {
		.popup-inner {
			top: calc(50vh - calc(300 * @ratio));
			padding: calc(42 * @ratio) calc(226 * @ratio) calc(100 * @ratio) calc(226 * @ratio);
			.popup-header {
				span {
					font-size: @fontSizes[p23];
				}
			}
			.popup-outside-consent {
				position: absolute;
				left: calc(50% - calc(250 * @ratio));
				bottom: calc(60 * @ratio);
				width: calc(500 * @ratio);
				text-align: center;
			}
		}
	}
	&-tiny {
		.popup-inner {
			top: calc(50vh - calc(265 * @ratio));
			.popup-header {
				margin-bottom: calc(20 * @ratio);
			}
			.popup-lead {
				margin: 0;
				margin-bottom: calc(15 * @ratio);
				font-size: @fontSizes[p20];
				line-height: calc(24 * @ratio);
				width: 100%;
			}
		}
	}

	&-gateway {
		overflow-y: scroll;
		.popup-inner {
			.popup-inner.popup-gateway-inner;
			display: none;
			&.popup-gateway-inner-transfer-once {
				transform: translateX(calc(-204 * @ratio)) translateY(-50%);
			}
		}
	}

	&-reportal {
		display: block;
		.popup-inner {
			width: calc(960 * @ratio);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			.popup-amounts {
				margin: calc(44 * @ratio) auto 0;
				width: calc(184 * @ratio);
				.btn.btn-bluish-gray-transparent {
					border-width: 2px;
					height: calc(70 * @ratio);
					margin: calc(20 * @ratio) 0 0;
					line-height: calc(66 * @ratio);
					font-size: @fontSizes[p22];
					font-weight: bold;
					text-transform: none;
					&:hover {
						.btn.btn-very-dark-blue-transparent;
						border-width: 2px;
						text-transform: none;
					}
					&.popup-amount-active {
						.btn.btn-very-dark-blue-transparent;
						border-width: 3px;
						line-height: calc(64 * @ratio);
						text-transform: none;
					}
				}
			}
			.popup-inner-closer {
				font-weight: 600;
				font-size: @fontSizes[p20];
				line-height: calc(28 * @ratio);
				text-decoration: underline;
				text-align: center;
				color: @color-very-dark-blue;
				margin: calc(48 * @ratio) auto 0;
				cursor: pointer;
			}
			.btn.btn-pink {
				width: calc(184 * @ratio);
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: calc(70 * @ratio);
				line-height: calc(66 * @ratio);
				font-size: @fontSizes[p22];
				font-weight: bold;
				a {
					line-height: inherit;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	&-digest {
		.popup-inner {
			width: calc(552 * @ratio);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: calc(30 * @ratio) calc(64 * @ratio) calc(50 * @ratio);
			position: relative;
			form {
				overflow: visible;
			}
			.popup-header {
				position: relative;
				&:after {
					content: "";
					position: absolute;
					top: 0;
					right: 0;
					transform: translateX(50%);
					width: calc(24 * @ratio);
					height: calc(24 * @ratio);
					background-image: url("/assets/icons/info_icon_pink.svg");
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;					
				}
				&:hover ~ .popup-digest-info {
					display: block;
				}
			}
			.popup-digest-info {
				display: none;
				position: absolute;
				top: calc(90 * @ratio);
				right: calc(64 * @ratio);
				color: @color-very-dark-blue;
				background-color: @color-lightest-bluish-gray;
				box-shadow: 0px 3px 15px rgba(@color-black,.125);
				border-radius: 2px;
				padding: calc(12 * @ratio);
				font-size: @fontSizes[p14];
				line-height: calc(18 * @ratio);
				z-index: 10;
				width: 40%;
				&-visible {
					display: block;
				}
				&:hover {
					&:after {
						content: "";
						display: block;
						width: calc(16 * @ratio);
						height: calc(16 * @ratio);
						background: url("/assets/icons/close_icon.svg"), @color-white;
						background-size: calc(8 * @ratio);
						background-position: center;
						background-repeat: no-repeat;
						border-radius: 2px;
						position: absolute;
						top: 0;
						right: 0;
						cursor: pointer;
					}
				}
			}
			.popup-checkbox {
				width: 100%;
				margin: calc(64 * @ratio) auto;
				label {
					display: flex;
					justify-content: center;
					align-items: center;
					p {
						margin: 0 0 0 calc(16 * @ratio);
						font-size: @fontSizes[p18];
						color: @color-very-dark-blue;
						font-weight: 600;
					}
				}
			}
			.btn.btn-pink {
				width: calc(184 * @ratio);
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: calc(70 * @ratio);
				line-height: calc(66 * @ratio);
				font-size: @fontSizes[p22];
				font-weight: bold;
				a {
					line-height: inherit;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}	
	}

	&-large {
		overflow: scroll;
		.popup-inner {
			top: unset;
			position: relative;
			margin: calc(100 * @ratio) 0;
			padding: calc(100 * @ratio) calc(141 * @ratio);
		}
	}

	&-overlay {
		display: block;
		.popup-inner {
			a {
				font-size: @fontSizes[p18];
				color: @color-pink;
				text-decoration: underline;
			}
		}
	}

	// second level (modal on modal)
	&-second {
		z-index: 11000;
		background-color: transparent;
		.popup-inner {
			box-shadow: 0 0 25px #00000026;
			width: calc(470 * @ratio);
			height: calc(317 * @ratio);
			top: calc(50% - (150 * @ratio));
			left: calc(50% - (235 * @ratio));
			padding: calc(88 * @ratio) calc(58 * @ratio) calc(37 * @ratio) calc(58 * @ratio);
			.popup-lead {
				width: 100%;
			}
			.popup-submit {
				.btn.btn-very-dark-blue;
				position: static;
				margin: auto;
				margin-top: calc(30 * @ratio);
				font-size: calc(18 * @ratio);
				line-height: calc(64 * @ratio);
				border: none;
				width: calc(155 * @ratio);
				margin-left: calc(97.5 * @ratio);
			}
		}
	}

	&-overlay {
		display: block;
	}
}
.popup-inner {
	width: calc(1008 * @ratio);
	position: absolute;
	top: calc(50vh - calc(360 * @ratio));
	left: calc(50vw - calc(504 * @ratio));
	background-color: @color-white;
	padding: calc(42 * @ratio) calc(226 * @ratio) calc(70 * @ratio) calc(226 * @ratio);
	border-radius: calc(2 * @ratio) 0 calc(2 * @ratio) calc(2 * @ratio);
	box-sizing: border-box;
	.popup-closer {
		position: absolute;
		height: calc(34 * @ratio);
		padding: 0 calc(37 * @ratio) 0 calc(15 * @ratio);
		bottom: 100%;
		right: 0;
		background-color: @color-light-bluish-gray;
		font-size: calc(18 * @ratio);
		text-transform: uppercase;
		line-height: calc(34 * @ratio);
		font-weight: 600;
		border-radius: calc(2 * @ratio) calc(2 * @ratio) 0 0;
		cursor: pointer;
		&:after {
			display: block;
			content: "";
			position: absolute;
			top: calc(10 * @ratio);
			right: calc(11 * @ratio);
			height: calc(14 * @ratio);
			width: calc(14 * @ratio);
			background-image: url("/assets/icons/close_icon.svg");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	.popup-info {
		font-size: @fontSizes[p17];
		position: absolute;
		top: calc(14 * @ratio);
		left: calc(15 * @ratio);
		padding-left: calc(33 * @ratio);
		line-height: calc(25 * @ratio);
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: calc(25 * @ratio);
			height: calc(25 * @ratio);
			background-image: url("/assets/icons/info_icon.svg");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		a {
			color: @color-very-dark-blue;
			text-decoration: underline;
		}
	}
	.popup-header {
		color: @color-pink;
		text-transform: uppercase;
		font-weight: 800;
		font-size: @headerSizes[popup];
		text-align: center;
		margin: 0;
		margin-bottom: calc(6 * @ratio);
	}
	.popup-lead {
		color: @color-very-dark-blue;
		text-align: center;
		font-size: @fontSizes[p23];
		font-weight: 600;
		line-height: calc(28 * @ratio);
		width: calc(450 * @ratio);
		margin: 0 auto;
		a {
			color: @color-pink;
		}
	}
	.popup-form {
		margin-top: calc(35 * @ratio);

		form {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: calc(66 * @ratio);
			grid-row-gap: calc(10 * @ratio);
			width: 100%;
			overflow: visible;
			> div {
				overflow-x: hidden;
				label {
					text-transform: uppercase;
					color: @color-very-dark-blue;
					font-weight: bold;
					font-size: @fontSizes[p18];
					display: inline-block;
					position: relative;
					z-index: 10;
					pointer-events: none;
					hr {
						margin-top: calc(59 * @ratio);
						margin-bottom: 0;
						border: 2px solid @color-very-dark-blue;
						border-style: solid none none none;
						border-radius: calc(5 * @ratio);
						&.warning {
							border-color: @color-pink;
						}
					}
					span {
						font-weight: normal;
						@font-size: @fontSizes[p18];
						display: inline-block;
						float: left;
						margin-top: calc(10 * @ratio);
						line-height: calc(29 * @ratio);
						text-transform: none;
					}
					.required {
						display: none;
						position: absolute;
						margin-top: 0;
						line-height: calc(14 * @ratio);
						font-size: @fontSizes[p12];
						min-width: calc(250 * @ratio);
						&.warning {
							display: block;
							color: @color-pink;
						}
						.notice {
							margin-top: 0;
						}
					}
					.checkbox-alt {
						margin-top: calc(10 * @ratio);
						margin-right: calc(9 * @ratio);
						display: inline-block;
						float: left;
					}
					&.clickable {
						pointer-events: auto;
					}
				}
				input[type="text"], input[type="tel"], input[type="email"] {
					margin-top: calc(-51 * @ratio);
					background-color: @color-lightest-bluish-gray;
					width: 100%;
					position: relative;
					z-index: 9;
					font-weight: 600;
					font-size: @fontSizes[p16];
					color: @color-bluish-gray;
					padding-left: calc(13 * @ratio);
					border-radius: calc(2 * @ratio);
					box-sizing: border-box;
					margin-bottom: calc(30 * @ratio);
				}
				&.checkbox-long {
					label {
						display: flex;
						align-items: center;
						pointer-events: all;
						.checkbox-alt {
							margin-top: 0;
						}
						p {
							margin: 0;
							flex: 1;
							color: @color-bluish-gray;
							font-size: @fontSizes[p12];
							margin-bottom: 0;
							a {
								color: @color-pink;
							}
							text-transform: none;
							font-weight: normal;
						}
					}
					&#newsletterCheckboxLong {
						label {
							margin-top: calc(20 * @ratio);
						}
					}
					&.checkbox-standalone {
						margin-top: calc(27 * @ratio);
					}
				}
				&.footnote {
					grid-column: span 2;
					overflow: visible;
					p {
						.popup-consent;
						text-align: center;
						margin-top: calc(6 * @ratio);
					}
					.checkbox-center {
						display: flex;
						justify-content: center;
						position: relative;
						.checkbox-alt {
							margin-top: 0;
						}
						p {
							font-size: @fontSizes[p14];
							font-weight: normal;
							text-transform: none;
							line-height: calc(16 * @ratio);
							width: calc(230 * @ratio);
							margin-top: 0;
						}
						.checkbox-center-info-icon {
							width: calc(32 * @ratio);
							height: calc(29 * @ratio);
							background-image: url("/assets/icons/info_icon_bluish_gray.svg");
							background-position: left top;
							background-size: calc(16 * @ratio);
							background-repeat: no-repeat;
							margin: 0 0 0 calc(8 * @ratio);
							&:hover ~ .checkbox-center-info {
								display: block;
							}
						}
						.checkbox-center-info {
							position: absolute;
							bottom: 110%;
							display: none;
							left: calc(380 * @ratio);
							color: @color-very-dark-blue;
							background-color: @color-lightest-bluish-gray;
							border-radius: 2px;
							padding: calc(12 * @ratio);
							font-size: @fontSizes[p14];
							line-height: calc(18 * @ratio);
							z-index: 10;
							&-visible {
								display: block;
							}
							&:hover {
								&:after {
									content: "";
									display: block;
									width: calc(16 * @ratio);
									height: calc(16 * @ratio);
									background: url("/assets/icons/close_icon.svg"), @color-lightest-bluish-gray;
									background-size: calc(8 * @ratio);
									background-position: center;
									background-repeat: no-repeat;
									border-radius: 2px;
									position: absolute;
									top: 0;
									right: 0;
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}
	}
	.popup-outside-consent {
		position: absolute;
		left: calc(50% - calc(250 * @ratio));
		bottom: calc(42 * @ratio);
		width: calc(500 * @ratio);
		text-align: center;
	}
	.popup-consent {
		color: @color-bluish-gray;
		font-size: @fontSizes[p12];
		margin-bottom: 0;
		a {
			color: @color-bluish-gray;
		}
	}
	.popup-submit {
		position: absolute;
		text-transform: uppercase;
		font-size: calc(18 * @ratio);
		line-height: calc(64 * @ratio);
		border: none;
		font-weight: bold;
		text-align: center;
		width: calc(155 * @ratio);
		height: calc(64 * @ratio);
		top: calc(100% - calc(32 * @ratio));
		left: calc(50% - calc(77.5 * @ratio));
		border-radius: calc(2 * @ratio);
		&:after {
			display: block;
			content: "";
			position: absolute;
			left: calc(100% + calc(26 * @ratio));
			top: 0;
			background-image: url("/assets/icons/arrow_pink.svg");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			width: calc(160 * @ratio);
			height: calc(104 * @ratio);
		}
	}
	&.popup-gateway-inner {
		width: calc(552 * @ratio);
		top: 50%;
		transform: translateY(-50%);
		left: calc(50% - (276 * @ratio));
		padding: calc(30 * @ratio) calc(64 * @ratio) calc(50 * @ratio) calc(64 * @ratio);
		border-radius: 2px;
		.popup-image {
			height: calc(100 * @ratio);
			width: calc(100 * @ratio);
			display: block;
			margin: 0 auto;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.popup-header {
			color: @color-very-dark-blue;
			text-transform: unset;
			font-weight: 900;
			font-size: calc(29 * @ratio);
			text-align: center;
			margin: 0;
			margin-bottom: calc(16 * @ratio);
		}
		.popup-lead {
			color: @color-very-dark-blue;
			text-align: center;
			font-size: @fontSizes[p20];
			font-weight: 600;
			line-height: calc(28 * @ratio);
			width: auto;
			margin: 0 auto calc(42 * @ratio) auto;
			a {
				color: @color-pink;
			}
		}
		.btn {
			height: calc(70 * @ratio);
			line-height: calc(66 * @ratio);
			font-size: @fontSizes[p22];
			max-width: calc(368 * @ratio);
			margin: auto;
			a {
				display: block;
				width: 100%;
				height: 100%;
				line-height: inherit;
			}
		}
		.popup-link-small {
			display: block;
			font-size: @fontSizes[p20];
			margin-top: calc(14 * @ratio);
			font-weight: bold;
			text-align: center;
			text-decoration: underline;
			color: @color-very-dark-blue;
			cursor: pointer;
		}
		select {
			display: block;
			margin: 0 auto calc(24 * @ratio) auto;
		}
		#popupOnceQRCode {
			display: block;
			height: calc(107 * @ratio);
			margin: 0 auto calc(24 * @ratio) auto;
		}
		&[data-substep="once"] {
			.popup-lead {
				margin: 0 auto calc(20 * @ratio) auto;
			}
		}
	}
	&.popup-gateway-inner-transfer {
		.popup-header {
			color: @color-pink;
		}
		.popup-lead {
			font-size: @fontSizes[p20];
			margin-bottom: 0;
			&:nth-last-child(3) {
				font-size: @fontSizes[p16];
				margin-bottom: calc(20 * @ratio);
			}
		}
		.popup-inner-main {
			border: 3px solid @color-very-dark-blue;
			border-radius: 2px;
			margin: calc(16 * @ratio) 0 calc(22 * @ratio) 0;
			padding: calc(27 * @ratio) calc(18 * @ratio);
			color: @color-very-dark-blue;
			> h3 {
				font-size: calc(24 * @ratio);
				margin: calc(12 * @ratio) 0;
				text-align: center;
				&:nth-child(1) {
					margin-top: 0;
				}
			}
			> h4 {
				font-size: calc(18 * @ratio);
				margin: calc(12 * @ratio) 0;
				text-align: center;
				font-weight: 600;
			}
			.popup-inner-main-info {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: calc(5 * @ratio);
				> h4 {
					margin: calc(4 * @ratio) 0;
					font-size: calc(20 * @ratio);
					color: @color-bluish-gray;
					text-align: right;
				}
				div > h4 {
					margin: calc(4 * @ratio) 0;
					font-size: calc(20 * @ratio);
					display: inline-block;
					color: @color-very-dark-blue;
				}
				div > img {
					margin-bottom: calc(-2 * @ratio);
					margin-left: calc(10 * @ratio);
					display: inline-block;
					height: calc(20 * @ratio);
					cursor: pointer;
					&.ticked {
						height: calc(16 * @ratio);
						margin-bottom: 0;
					}
				}
			}
		}
		&-once {
			width: calc(960 * @ratio);
			.popup-inner-main-container {
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin: calc(16 * @ratio) 0 calc(22 * @ratio) 0;
				.popup-inner-main {
					margin: 0;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					&:nth-child(2) {
						border: calc(10 * @ratio) solid @color-white;
						border-style: solid none;
						background-color: @color-lightest-bluish-gray;
					}
				}
			}
		}
	}
	&.popup-overlay-inner {
		width: calc(552 * @ratio);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: calc(60 * @ratio);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border-radius: 2px;
		.popup-icon {
			width: calc(75 * @ratio);
			img {
				display: block;
				width: 100%;
			}
		}
		.popup-header {
			color: @color-very-dark-blue;
			text-transform: none;
			font-size: calc(29 * @ratio);
			font-weight: 900;
			line-height: calc(34 * @ratio);
			margin: calc(32 * @ratio) 0 0;
		}
		.popup-lead {
			font-weight: 600;
			margin: calc(16 * @ratio) 0;
			font-size: @fontSizes[p20];
			line-height: calc(28 * @ratio);
			span {
				font-weight: bold;
			}
			a {
				color: @color-pink;
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
	&.popup-non {
		position: relative;
		top: 0;
		left: 0;
		margin: calc(50 * @ratio) auto calc(140 * @ratio) auto;
		border-radius: calc(2 * @ratio) calc(2 * @ratio) calc(2 * @ratio) calc(2 * @ratio);
		&.popup-gateway-inner {
			transform: translateY(0);
			margin: calc(60 * @ratio) auto calc(150 * @ratio) auto;
		}
	}
	&.popup-overlay-inner {
		width: calc(552 * @ratio);
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: calc(60 * @ratio);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border-radius: 2px;
		.popup-icon {
			width: calc(75 * @ratio);
			img {
				display: block;
				width: 100%;
			}
		}
		.popup-header {
			color: @color-very-dark-blue;
			text-transform: none;
			font-size: calc(29 * @ratio);
			font-weight: 900;
			line-height: calc(34 * @ratio);
			margin: calc(32 * @ratio) 0 0;
		}
		.popup-lead {
			font-weight: 600;
			margin: calc(16 * @ratio) 0;
			font-size: @fontSizes[p20];
			line-height: calc(28 * @ratio);
			span {
				font-weight: bold;
			}
			a {
				color: @color-pink;
				text-decoration: underline;
			}
		}
	}
}
.ui-menu {
	background-color: @color-lighter-bluish-gray;
	color: @color-very-dark-blue;
	width: auto;
	max-height: 30vh;
	max-width: 100vw;
	overflow: scroll;
	position: absolute;
	border-radius: calc(2 * @ratio);
	list-style: none;
	margin: 0;
	padding: calc(10 * @ratio);
	z-index: 11000;
	li {
		margin: 0;
		padding: 0;
	}
	.ui-menu-item-wrapper {
		padding: calc(3 * @ratio);
		border: calc(2 * @ratio) solid @color-lighter-bluish-gray;
		border-radius: calc(2 * @ratio);
		cursor: pointer;
		font-size: @fontSizes[p15];
	}
	.ui-state-active {
		background-color: @color-very-dark-blue;
		border: calc(2 * @ratio) solid @color-very-dark-blue;
		color: @color-lighter-bluish-gray;
	}
}
.ui-helper-hidden-accessible {
	visibility: hidden;
	height: 0;
}