@headerSizes: {
	homepage-start: calc(43 * @ratio);
	homepage-startMobile: calc(26 * @ratio);
	homepage-startRightMobile: calc(34 * @ratio);
	section-second: calc(59 * @ratio);
	section-second-mobile: calc(34 * @ratio);
	article: calc(43 * @ratio);
	popup: calc(37 * @ratio);
}

@fontSizes: {
	p10: calc(10 * @ratio);
	p11: calc(11 * @ratio);
	p12: calc(12 * @ratio);
	p13: calc(13 * @ratio);
	p14: calc(14 * @ratio);
	p15: calc(15 * @ratio);
	p16: calc(16 * @ratio);
	p17: calc(17 * @ratio);
	p18: calc(18 * @ratio);
	p19: calc(19 * @ratio);
	p20: calc(20 * @ratio);
	p21: calc(21 * @ratio);
	p22: calc(22 * @ratio);
	p23: calc(23 * @ratio);
	p25: calc(25 * @ratio);
	p26: calc(26 * @ratio);
}



@page-mobile-inner-width: calc(315 * @ratio);

@button-height: calc(54 * @ratio);
@btn-border-radius: calc(5 * @ratio);

@input-height: calc(50 * @ratio);
@input-small-height: calc(45 * @ratio);
@input-small-height-inner: calc(41 * @ratio);

@menu-btn-width: calc(110 * @ratio);
@menu-btn-height: calc(54 * @ratio);
@menu-btn-height-inner: calc(48 * @ratio);
@menu-btn-border-width: calc(3 * @ratio);
@menu-left-btn-margin: calc(26 * @ratio);

@menu-secondary-link-height: calc(53 * @ratio);
@menu-secondary-link-width: calc(190 * @ratio);

@menu-secondary-link-height-mobile: calc(60 * @ratio);

@menu-btn-height-mobile: calc(72 * @ratio);
@menu-btn-secondary-height-mobile: calc(54 * @ratio);

@menu-width-mobile: calc(276 * @ratio);



@homepage-start-height: calc(471 * @ratio);
@homepage-start-right-width: calc(408 * @ratio);


@btn-showMore-height: calc(64 * @ratio);
@btn-showMore-height-inner: calc(58 * @ratio);
@btn-showMore-width: calc(220 * @ratio);

@btn-showMore-height-mobile: calc(50 * @ratio);
@btn-showMore-height-inner-mobile: calc(44 * @ratio);
@btn-showMore-width-mobile: calc(158 * @ratio);


@ledge-height: calc(24 * @ratio);
@ledge-font-size: calc(14 * @ratio);

@ledge-height-mobile: calc(40 * @ratio);
@ledge-font-size-mobile: calc(15 * @ratio);


@event-height: calc(50 * @ratio);

@event-height-mobile: calc(55 * @ratio);


@join-btn-height: calc(50 * @ratio);

@footer-btn-width: calc(120 * @ratio);
@footer-btn-height: calc(45 * @ratio);
@footer-btn-inner-height: calc(39 * @ratio);