/* Colors: */
@color-white: #FFFFFF;
@color-black: #000000;
@color-very-dark-blue: #2A2B66;
@color-pink: #FA1A5B;
@color-lightgray-transparent: rgba(232,232,232,0);
@color-light-bluish-gray: #D8D8E3;
@color-light-lighter-bluish-gray: #E1E1E9;
@color-lighter-bluish-gray: #F0F0F4;
@color-lightest-bluish-gray: #F1F1F6;
@color-bluish-gray: #77789E;
@color-dark-bluish-gray: #48497A;
@color-green: #00D696;
@color-orange: #FAA01A;
@color-light-darker-bluish-gray: #C4C4D4;
@color-yellow: #FFF000;

/* Fonts */

@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css'); /* font-awesome */
@import (css) url(https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,400i,500,600,700,800,900&subset=latin-ext); /* google fonty */
@font-family-barlow: Barlow Semi Condensed;

/* Global sizes */
@sizes: {
	page-desktop-max-width: 1600px;
	page-desktop-width: 1139px;
	page-desktop-breakpoint-width: 1280px;
	page-mobile-width: 375px;
	page-mobile-max-width: 720px;
}

@ratio: 1px;
@ratioFullPage: 1px;


@dotWidth: 10px;
@dotHeight: 10px;
@dotRadius: @dotWidth/2;

@dotColor: @color-pink;
@dotBgColor: @dotColor;
@dotBeforeColor: @dotColor;
@dotAfterColor: @dotColor;

@dotSpacing: @dotWidth+@dotWidth/2;
